{% extends "_layout" %}

{% block content %}
{% set image = entry.featuredImage.first() %}
<div class="banner text-uppercase fixed" style="background-image: url('{{ image.getUrl("banner") }}');">
  <div class="image-overlay">
    <h1>{{ entry.title }}</h1>
  </div>
</div>
<div class="forNavSection">
  {% include 'form/_form.html' %}
</div>
<div class="bg-color">
  {% for block in entry.imageAndContent %}
  <section class="bg-color">
    <div class="container space-primary">
      <div class="row">
        {% set image = block.image.first() %}
        {% if image %}
        <div class="col-md-4">
          <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
        </div>
        <div class="col-sm-12 col-md-8">
          {% else %}
          <div class="col-sm-12">
            {% endif %}
            <div>
              <div class="content read-more-content">
                {{ block.description }}
              </div>
              <span class="read-more">read more &#8594;</span>
            </div>
          </div>
        </div>
      </div>
  </section>
  {% endfor %}
</div>
<section class="rangoon-green contacts">
  <div class="container space-primary">
    <div class="row">
      <div class="col-sm-12 text-center contact-details">
        <a href="mailto:{{ footer.email }}" class="text-uppercase btn">
          <svg width="32px" height="30px" viewBox="0 0 32 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Page 1</title>
            <desc>Created with Sketch Beta.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Contact-us" transform="translate(-431.000000, -1603.000000)" fill="#A7DD31">
                <g id="Group-7" transform="translate(381.000000, 1584.000000)">
                  <g id="Group-6">
                    <path d="M50,19 L50,19.84204 L65.9986168,31.4380871 L82,19.8401116 L82,19 L50,19 Z M73.271889,29.1703642 L82,39.129415 L82,22.8439767 L73.271889,29.1703642 Z M50,39.1262011 L58.7253446,29.1702035 L50,22.8460657 L50,39.1262011 Z M65.9986168,34.4421128 L60.6838288,30.58978 L51.4254839,41.1538462 L80.571596,41.1538462 L71.313251,30.58978 L65.9986168,34.4421128 Z" id="Page-1"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <span>{{ footer.email }}</span>
        </a>
        <a href="tel:{{ footer.phone|replace({' ':''}) }}" class="text-uppercase btn">
          <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Call Us Icon</title>
            <desc>Created with Sketch Beta.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Contact-us" transform="translate(-870.000000, -1599.000000)" fill="#A7DD31">
                <g id="Group-7" transform="translate(381.000000, 1584.000000)">
                  <g id="Group-4" transform="translate(439.000000, 0.000000)">
                    <path d="M55.536888,15.3305514 C55.0705583,14.8623564 54.3095083,14.9015281 53.8319867,15.3846456 L51.8118466,17.8431357 C50.6478877,19.4155994 46.061069,23.8308088 58.2639839,36.0337238 C58.3852296,36.1549696 58.5008794,36.263158 58.6183945,36.3806731 C58.7359095,36.5000535 58.8459633,36.6157033 58.9672091,36.736949 C71.1701239,48.9379987 75.5853333,44.3530453 77.1559316,43.1872211 L79.6144216,41.1689463 C80.0994045,40.6895594 80.1367109,39.9303746 79.6703812,39.4621796 L73.6771122,33.4502574 C73.2294357,33.0100422 72.475847,32.9727358 71.961019,33.4931597 L69.8774581,35.8900943 C68.7899773,36.824619 67.3443553,36.1419123 65.9808073,34.7783643 L63.1119472,31.8889856 L60.2207032,29.0182601 C58.8590206,27.6565775 58.1744486,26.2090901 59.1108386,25.1216093 L61.5077731,23.0473749 C62.0263317,22.5250857 61.9908906,21.7696316 61.5506754,21.3312817 L55.536888,15.3305514 Z" id="Call-Us-Icon"></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <span>{{ footer.phone }}</span>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div id="map"></div>
  <script>
    const latitude = Number('{{ entry.latitude }}');
    const longtude = Number('{{ entry.longtude }}');
    const head = '<h4><img src="images/map-icon.svg" alt="Mark1 map" />Find Us</h4>';
    const address = `<div class="pop-up">${head}<p>{{ entry.mapAddress }}</p><div class="arrow"></div></div>`;
    const title = '{{ entry.mapTitle }}';
    const API_KEY = '{{ entry.apiKey }}';
    function initMap() {
      const location = {lat: latitude, lng: longtude};
      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: location,
        zoomControl: false,
        scaleControl: false,
        scrollwheel: false
      });
      const contentString = address;

      var infowindow = new google.maps.InfoWindow({

        content: contentString,
        disableAutoPan: false,
        maxWidth: "300px",
        pixelOffset: new google.maps.Size(-350, 100),
        zIndex: null,
        closeBoxMargin: "0",
        infoBoxClearance: new google.maps.Size(1, 1),
        isHidden: false,
        enableEventPropagation: false
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map,
        label: {text: title, color: "#8D2722"},
        title:"Porcelain Factory of Vista Alegre"
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACtHlI3SxLNWtuYy_YPQdh0ws5PAjjZdU&callback=initMap">
  </script>
</section>
{% endblock %}
