{#
 # Privacy Policy template
 # -------------------
 #
 # This template is loaded whenever http://example.com/services is
 # requested, because it is located at privacy-policy/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  {% set image = services.featuredImage.first() %}
  <div class="banner text-uppercase fixed" style="background-image: url('{{ image.getUrl("banner") }}');">
    <div class="image-overlay">
      <h1>{{ entry.title }}</h1>
    </div>
  </div>
  <section class="forNavSection">
    <div class="container space-primary sections">
      <div class="row">
        <article class="col-sm-12 column-count2">
          {{ entry.body }}
        </article>
      </div>
    </div>
  </section>
{% endblock %}
