<style>
    .field-required:after {
        content: '*';
        color: #a7dd31;
        font-weight: 100;
    }
    .processing-overlay {
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
        min-height: 60px;
        opacity: 0.9;
        display: none;

    }

    #form-medium-loader {
        position: absolute;
        width: 30%;
        height: 50px;
        left: 35%;
        top: 3px;
    }
    .btn-submit:focus {
        outline: 0;
    }
    #thanks {
        display: none;
    }
</style>
<section>
    <div class="container space-primary">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="heading munsell-color">{{ contact.sevenTitle }}</h2>
          <div class="content-body">
            {{ contact.body }}
          </div>
        </div>
        {% macro errorList(errors) %}
          {% if errors %}
              <ul class="errors">
                  {% for error in errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
        {% endmacro %}

        {% from _self import errorList %}
        <div class="col-md-10 col-md-push-1">
          <form method="post" action="#contact-form" accept-charset="UTF-8" id="contact-form" class="contact-form">
              {{ getCsrfInput() }}
              <input type="hidden" name="action" value="contactForm/sendMessage">
              <input type="hidden" name="redirect" value="contact/thanks">

              <div class="col-md-10 col-md-push-1 space-sec-top checkboxes">
                <div class="col-md-4 flex">
                  <input id="Programmatic" type="checkbox" name="checkProgrammatic" value="Programmatic">
                  <label class="green-background" for="Programmatic"></label><span>Programmatic</span>
                </div>
                <div class="col-md-4 flex">
                  <input id="Premium" type="checkbox" name="checkPremium" value="Premium">
                  <label class="green-background" for="Premium"></label><span>Premium</span>
                </div>
                <div class="col-md-4 flex">
                  <input id="Media" type="checkbox" name="checkMedia" value="Media">
                  <label class="green-background" for="Media"></label><span>Social Media</span>
                </div>
                <div class="col-md-4 flex">
                  <input id="Pay-per-click" type="checkbox" name="checkPpc" value="Pay-per-click">
                  <label class="green-background" for="Pay-per-click"></label><span>Pay-per-click</span>
                </div>
                <div class="col-md-4 flex">
                  <input id="Design" type="checkbox" name="checkDesign" value="Design">
                  <label class="green-background" for="Design"></label><span>Digital Design</span>
                </div>
                <div class="col-md-4 flex">
                  <input id="Management" type="checkbox" name="checkDataManagement" value="Management">
                  <label class="green-background" for="Management"></label><span>Data Management</span>
                </div>
              </div>

          <div class="row">

              <div class="col-md-6">
                  <h4><label for="fromName" class="field-required">Name</label></h4>
                  <input id="fromName" type="text" placeholder="Name" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
                  {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
              </div>

              <div class="col-md-6">
                  <h4><label for="fromSurname">Surname</label></h4>
                  <input id="fromSurname" placeholder="Surname" type="text" name="fromSurname" value="">
              </div>

          </div>

          <div class="row">

              <div class="col-md-6">
                <h4><label for="fromEmail" class="field-required">Email</label></h4>
                <input id="fromEmail" placeholder="Email" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
              </div>
              <div class="col-md-6">
                  <h4><label for="phone">Contact number</label></h4>
                  <input id="contactNumber" placeholder="Contact Number" type="text" name="contactNumber" value="">
              </div>

          </div>

          <div class="row">

              <div class="col-md-12">
                  <h4><label for="message" class="field-required">Message</label></h4>
                  <textarea rows="10" cols="40" placeholder="Message" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
                  {{ message is defined and message ? errorList(message.getErrors('message')) }}
              </div>

          </div>
              <div class="col-md-12 text-center">
                <button type="submit" class="text-uppercase btn-submit" value="Submit">
                    Submit
                </button>
                  <div class="processing-overlay">
                      <img src="/images/medium_loader.svg" id="form-medium-loader" />
                  </div>
              </div>

              <div class="col-md-12 text-center">
                  <div id="thanks">Thank you for submitting your message.</div>
              </div>

          </form>

            <ul class="my-errors"></ul>

        </div>
      </div>
    </div>

  </section>

  <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

    <script>

    $(function(){
        $('#contact-form').submit( function(ev) {

            // Prevent the form from actually submitting
            ev.preventDefault();

            // Remove any existing error messages from previous attempts
            $(this).find( '.errors' ).remove();

            // start the loader
            $('.processing-overlay').show();

            // Get the post data
            var data = $(this).serialize();

            // Send it to the server
            $.post('/', data, function(response) {

                console.log(response);

                if (response.success) {

                    // All good!
                    $('#thanks').fadeIn().delay(3000).fadeOut();
                    $('.processing-overlay').delay(1000).fadeOut();
                    $('#contact-form')[0].reset();

                } else {

                    $('.processing-overlay').delay(500).fadeOut();

                    // Loop through the errors and append to relevant fields
                    for ( var fieldId in response.error ) {

                        // Create the <ul>
                        var $errors = $( '<ul class="errors" />' );

                        // Wrap the error messages in <li> tags
                        var messages = $.map(response.error[fieldId], function(message){
                            return '<li>' + message + '</li>';
                        });

                        // Append the error messages to the ul
                        $errors.append( messages.join( '' ) );

                        // Select the input element and append the .errors <ul> after it.
                        $('#'+fieldId).after($errors);

                    }

                }
            });
        });
    });

    </script>
