{#
 # Mark1 Ads entry template
 # -------------------
 #
 # This template gets loaded whenever a Mark1 Ads entry’s URL is
 # requested. That’s because the Mark1 Ads section’s Template setting is
 # set to mark1-ads/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Mark1 Ads entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  {% if entry.body %}
    <section class="white-bg">
      <div class="container space-primary">
        <div class="row">
          <div class="col-md-10 col-md-push-1 text-center">
            <h1 class="heading munsell-color">{{ entry.title }}</h1>
            <div class="content-body">{{ entry.body }}</div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {% if entry.celtraurl %}
    <section class="mark1-ads">
      <div class="change-bg container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="iframe-ads">
              <iframe src="{{ entry.celtraurl }}" width="100%" height="1100px" frameBorder="0" scrolling="no"></iframe>
              <div class="cover-centra"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  {% if entry.videourl %}
    <section class="white-bg">
      <div class="change-bg container space-primary">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2 class="heading munsell-color">{{ entry.sevenTitle }}</h2>
            <div class="content-body">
              {{ entry.videocontent }}
            </div>
            <div class="space-sec-top col-md-10 col-md-push-1">
              <video width="" class="banner" controls>
                <source src="{{ entry.videourl }}" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div>
        </div>
      </div>
    </section>
</iframe>
  {% endif %}
{% endblock %}
