{% set title = seomaticMeta.seoTitle %}
{% set description = seomaticMeta.seoDescription %}
{% set seoKeywords = seomaticMeta.seoKeywords %}
{% set seoImage = seomaticMeta.seoImage %}
{% set seoUrl = seomaticMeta.canonicalUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="CV-ouyqWZvdbEH53Kty6IjcHcomg7GcWQFx_CKgmxbY" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <meta name="description" content="{% if description is defined %}{{ description }}{% else %}{{ seoDescription }}{% endif %}" />
  <meta name="keywords" content="{{ seoKeywords }}"/>
  <meta property="og:url" content="{{ seoUrl }}" />
  <meta property="og:title" content="{% if title is defined %}{{ title }}{% else %}{{ seoTitle }}{% endif %}"/>
  <meta property="og:description" content="{% if description is defined %}{{ description }}{% else %}{{ seoDescription }}{% endif %}" />
  <meta property="og:image" content="{{ seoImage }}" />
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-W7BRB3Z');</script>
  <!-- End Google Tag Manager -->
  <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico">
  {% if not craft.config.devMode %}
    <link rel="stylesheet" href="/dist/main.bundle.css">
  {% endif %}
</head>
<body>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W7BRB3Z" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <nav>
    <a href="/">
      {% set image = header.featuredImage.first() %}
      {% if image %}
        <img src="{{ image.url }}" alt="{{ image.title }}">
      {% else %}
        <img src="/images/logo.svg" alt="MARK1">
      {% endif %}
    </a>

    <span class="hamburger pull-right" action="toggle-menu"></span>
    <span class="search pull-right hidden-xs" action="toggle-search"></span>
    {{ craft.amNav.getNav("mainNav", { class: 'nav-menu hidden'}) }}
    <div class="social-btn hidden">
      {% include 'footer/sociallinks.html' %}
    </div>
    <div class="contacts hidden">
      <a href="tel:{{ footer.phone|replace({' ':''}) }}">{{ footer.phone }}</a>
      <p>{{ contact.address }}</p>
    </div>
    <div class="searching hidden space-primary-top">
      <form action="{{ url('search/results') }}">
        <div class="input-group">
          <input type="search" value="" name="q" placeholder="Search">
          <input type="submit" value=" &#8594;">
        </div>
      </form>

      {% set query = craft.request.getParam('q') %}
      <div class="space-primary-top text-center">
        <div class="social-btn">
          {% set facebook = footer.facebook %}
          {% set twitter = footer.twitter %}
          {% set linkedin = footer.linkedin %}
          {% set googlePlus = footer.googlePlus %}
          {% set pinterest = footer.pinterest %}
          {% set vimeo = footer.vimeo %}
          {% set youtube = footer.youtube %}
          {% if facebook %}
            <a href="{{ facebook }}" target="_blank">
              <img src="/images/facebook.svg" alt="Facebook">
            </a>
          {% endif %}
          {% if twitter %}
            <a href="{{ twitter }}" target="_blank">
              <img src="/images/Twitter.svg" alt="Twitter">
            </a>
          {% endif %}
          {% if linkedin %}
            <a href="{{ linkedin }}" target="_blank">
              <img src="/images/linkedin.svg" alt="Linkedin">
            </a>
          {% endif %}
          {% if googlePlus %}
          <a href="{{ googlePlus }}" target="_blank">
            <img src="/images/google+.svg" alt="Google+">
          </a>
          {% endif %}
          {% if pinterest %}
          <a href="{{ pinterest }}" target="_blank">
            <img src="/images/Pinterest.svg" alt="Pinterest">
          </a>
          {% endif %}
          {% if vimeo %}
          <a href="{{ vimeo }}" target="_blank">
            <img src="/images/Vimeo.svg" alt="Vimeo">
          </a>
          {% endif %}
          {% if youtube %}
          <a href="{{ youtube }}" target="_blank">
            <img src="/images/youtube.svg" alt="Youtube">
          </a>
          {% endif %}
        </div>
        <div class="contacts">
          <a href="tel:{{ footer.phone|replace({' ':''}) }}">{{ footer.phone }}</a>
          <p>{{ contact.address }}</p>
        </div>
      </div>
    </div>
  </nav>

  <main role="main">
    {% block content %}
      <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
      <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
    {% endblock %}
  </main>

  {#Todo: Get links & content from craft cms#}
  <footer>
    <div class="container">
      <div class="row footer">
        <div class="col-md-5">
          <a href="/">
            <img src="/images/logo.svg" alt="MARK1">
          </a>
          <div class="social-btn">
            {% include 'footer/sociallinks.html' %}
          </div>
          <div class="copyright">
            {#Todo: Get links from craft cms#}
            © {{ now.year }} MARK 1 Digital Media | All Rights Reserved | <a href="/privacy-policy">Privacy Policy</a>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <h4 class="text-uppercase">Quick Contact</h4>
          <a href="mailto:{{ footer.email|replace({' ':''}) }}">{{ footer.email }}</a> | <a href="tel:{{ footer.phone|replace({' ':''}) }}">{{ footer.phone }}</a>
          <div class="sitemap">
            <h4 class="text-uppercase">Sitemap</h4>
            {{ craft.amNav.getNav("footerNav") }}
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="/dist/main.bundle.js"></script>
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
    window.sr = ScrollReveal({ reset: true })
    sr.reveal('.heading', { duration: 2000 });
    sr.reveal('.section', { duration: 1000 });
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ googleAnalytic.apiKey }}', 'auto')
    ga('send', 'pageview');
	</script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.1.1/masonry.pkgd.min.js"></script>
</body>
</html>
