{% extends "_layout" %}
{% set title = seomaticMeta.seoTitle %}
{% set description = seomaticMeta.seoDescription %}

{% block content %}
  {% set image = entry.featuredImage.first() %}
  {% set logoImage = entry.captionLogo.first() %}
  {% set videoOgv = entry.videoOgv.first() %}
  {% set videoWebm = entry.videoWebm.first() %}
  {% set video = entry.video.first() %}
  <div class="text-center banner-container home-banner" style="background-image: url('{{ image.url }}');" data-0="background-position:0px 0px;" data-100000="background-position:0px -50000px;">
    <div class="video-container">
      <video id="view26" class="video banner" preload="auto" autoplay="" loop="">
        {% if videoWebm %}
          <source src="{{ videoWebm.url }}" type="video/webm">
        {% endif %}
        {% if videoOgv %}
          <source src="{{ videoOgv.url }}" type="video/ogv">
        {% endif %}
        {% if video %}
          <source src="{{ video.url }}" type="video/mp4">
        {% endif %}
      </video>
    </div>
    <div class="image-overlay">
      <div class="caption text-uppercase text-center">
        <span>{{ entry.caption1stRow }}</span>
        {% if logoImage %}
          <img src="{{ logoImage.url }}" alt="{{ logoImage.title }}" class="img-responsive caption-image banner">
        {% endif %}
        <span>{{ entry.caption2ndRow }}</span>
        {% if entry.button %}
          <div class="call-to">
            <a href="{{ entry.buttonUrl }}" type="submit" class="text-uppercase btn btn-secondary">{{ entry.button }}</a>
          </div>
        {% endif %}
        <div class="scroll">
          <a href="#about">
            <p>Scroll down</p>
            <img src="/images/scrollDown.svg" class="">
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="white-bg forNavSection">
    <div class="container space-primary" id="about">
      <div class="row">
        <div class="col-lg-10 col-lg-push-1 text-center">
          <h2 class="heading munsell-color">
              {{ entry.titleMain }}
          </h2>
          <div class="content-body yellow-green">
            {{ entry.body }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="rangoon-green">
    <div class="container space-primary">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="heading black">
            {{ entry.secTitle }}
          </h2>
          <div class="content-body content-bottom">
            {{ entry.seccontent }}
          </div>
        </div>
      </div>
      <div class="hidden-lg hidden-md hidden-sm">
        {% if entry.allServiceLink %}
          <a href="{{ entry.allServiceLink }}" class="text-uppercase btn btn-secondary white">All services</a>
        {% endif %}<br>
      </div>
    </div>
  </section>

  <div class="key-services hidden-xs">
    {% set entries = entry.keyServiceEntries %}
    {% if entries|length %}
      {% for entry in entries %}
        {% set image = entry.image.first() %}
        {% if image %}
          <section style="background-image: url({{ image.url }})" class="gray-scale">
        {% else %}
          <section>
        {% endif %}
          <div class="container space-primary">
            <div class="row">
              <div class="col-sm-12 col-md-8 col-md-offset-2 {{ entry.colorSelector }}">
                <h3>{{ entry.title }}</h3>
                <div class="content">
                  {{ entry.seccontent }}
                </div>
                <a class="more" href="{{ entry.url }}">Read More</a>
              </div>
            </div>
          </div>
        </section>
      {% endfor %}
    {% endif %}
  </div>

  <section class="ship-gray more-services hidden-xs">
    <div class="container space-primary">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="heading outer-space">{{ entry.thirdTitle }}</h2>
          <div class="content-body">
            {{ entry.serviceContent }}
          </div>
          <div class="row space-primary-top more-container">
            {% set entries = entry.serviceEntries %}
            {% if entries | length %}
              {% for entry in entries %}
                {% set image = entry.featuredImage.first() %}
                <div class="col-sm-4 text-center space-sec-btm text-uppercase {{ entry.colorSelector }}">
                  <a href="{{ entry.url }}" class="color">
                    {% if image %}
                      <img src="{{ image.url }}" alt="{{ image.title }}">
                    {% endif %}
                    <h4>{{ entry.title }}</h4>
                  </a>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          {% if entry.allServiceLink %}
            <a href="{{ entry.allServiceLink }}" class="text-uppercase btn btn-secondary white">All services</a>
          {% endif %}<br>
        </div>
      </div>
    </div>
  </section>
  <section class="munsell case-study-slide">
    <div class="container space-primary">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <h3 class="heading iron">{{ entry.fouthTitle }}</h3>
            <div class="content-body">
              {{ entry.thirdContent }}
            </div>
          </div>
        </div>
        <div class="col-sm-12 space-sec-top space-sec-btm hidden-sm hidden-lg hidden-md">
          <div class="text-center">
            <a class="more btn btn-secondary color more-border" href="/case-studies">All case studies</a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="caseStudies space-primary-btm slider hidden-xs">
        {% set entries = entry.featuredCaseStudies %}
        {% if entries | length %}
          {% for entry in entries %}
            {% set image = entry.featuredImage.first() %}
          {% set logo = entry.logo.first() %}
            <article>
              <div class="col-md-6 large-img zero-pdn-left">
                {% if image %}
                  <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
                {% endif %}
              </div>
            <div class="container">
              <div class="row">
                <div class="col-md-6 {{ entry.colorSelector }}">
                  {% if logo %}
                    <img src="{{ logo.url }}" alt="{{ logo.title }}" class="img-responsive">
                  {% endif %}
                  <div class="case-study">
                    <h3><a href="{{ entry.url }}" class="color">{{ entry.title }}</a></h3>
                    <p>{{ entry.body.getPage(1) }}</p>
                    <p><a href="{{ entry.url }}" class="color">read more &#8594;</a></p>
                    </div>
                </div>
              </div>
            </div>
            <div class="container space-primary-top  {{ entry.colorSelector }}">
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-center">
                    <a class="more btn btn-secondary color more-border" href="/case-studies">All case studies</a>
                  </div>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
  <section class="light-gray latest-news">
    <div class="container space-primary">
      <div class="row">
          <div class="text-center col-md-12">
            <h3 class="heading munsell-color">{{ entry.fifthTitle }}</h3>
            <div class="content-body">{{ entry.fouthContent }}</div>
          </div>
          <div class="clearfix mobile-only">
          {% set entries = entry.featuredNewsEntries %}
          {% for entry in entries %}
            <article class="col-md-6 space-primary">
              <div class="news-section">
                <div class="equal">
                  {% set image = entry.featuredImage.first() %}
                  {% if image %}
                      <img src="{{ image.getUrl('news') }}" alt="{{ image.title }}" class="img-responsive">
                  {% endif %}
                </div>
                <div class="news-content{% if entry.hideTitle.contains('hideTitle') %} hide-mobile-title {% endif %}">
                  <em class="small hidden-xs">Posted on {{ entry.postDate.format('F d, Y') }}</em>
                  <h3 class="entry-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                  <p class="small hidden-xs">{{ entry.blogBody|striptags|slice(0,100)|default('Read more') }}...</p>
                  <div class="social-links text-uppercase hidden-xs">
                    <span>
                      Share<img src="/images/share.svg" alt="share">
                    </span>
                    <a class="edit-link" href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}">
                      <img src="/images/fb.svg" alt="Facebook">
                    </a>
                    <a class="edit-link" href="https://twitter.com/home?status={{ entry.url }}">
                      <img src="/images/twitter2.svg" alt="Twitter">
                    </a>
                    <a class="edit-link" href="https://plus.google.com/share?url={{ entry.url }}">
                      <img src="/images/google.svg" alt="Google+">
                    </a>
                    <a class="edit-link" href="https://www.linkedin.com/shareArticle?mini=true&url={{ entry.url }}&title={{ entry.title }}&summary={{ entry.url }}&source=">
                      <img src="/images/share_linkedin.svg" alt="linkedin">
                    </a>
                    <a href="mailto:?{{ entry.url }}">
                      <img src="/images/mail.svg" alt="mail">
                    </a>
                  </div>
                  <div>
                    <a class="btn-more text-uppercase" href="{{ entry.url }}">Read More <span class="hidden-lg hidden-md hidden-sm">&#8594;<span></a>
                  </div>
                </div>
              </div>
            </article>
          {% endfor %}
          </div>
          <div class="col-md-12 text-center">
            <a  class="more btn btn-secondary" href="/blog">All articles</a>
          </div>
      </div>
    </div>
  </section>
  <section class="bokara-gray awards-section">
    <div class="container space-primary">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="heading onyx">{{ entry.sixTitle }}</h3>
          <div class="col-lg-10 space-sec-btm col-md-offset-1 centered content-body">{{ entry.content5th }}</div>
          <div class="col-md-12">
            <div class="awards-slider">
              {% for block in entry.nomination %}
                <div class="col-md-4 mobile-award">
                  <div class="award text-center">
                    <div class="flower1"></div>
                    <h4 class="zero-mgn-btm">{{ block.nominationTitle }}</h4>
                    <p class="zero-mgn-btm">{{ block.description }}</p>
                    <p>{{ block.subDescription }}</p>
                    <div class="flower"></div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="light-gray clients-section hidden-xs">
    <div class="container space-primary">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center space-sec-btm">
            <h3 class="heading iron">{{ entry.nineTitle }}</h3>
            <div class="content-body">{{ entry.content8th }}</div>
          </div>
          <div class="carousel">
            {% for block in entry.clients %}
              <div>
                {% set image = block.clientLogo.first() %}
                {% if image %}
                  <img src="{{ image.url }}" alt="{{ block.clientName }}" class="img-responsive">
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'mailchimp/_mailchimp.html' %}
  <section class="bokara-gray industry-section">
    <div class="container space-primary">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="heading onyx">{{ entry.sevenTitle }}</h3>
          <div class="content-body">{{ entry.content7th }}</div>
          <div class="space-sec-top">
            <div class="carousel">
              {% for block in entry.affiliates %}
                <div>
                  {% set image = block.affiliate.first() %}
                    {% if image %}
                        <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
                    {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container"><hr></div>
  </section>
{% endblock %}
