{% extends "_layout" %}

{% block content %}
  {% set image = entry.featuredImage.first() %}
  <div class="banner text-uppercase fixed" style="background-image: url('{{ image.getUrl("banner") }}');">
    <div class="image-overlay">
      <h1>{{ entry.title }}</h1>
    </div>
  </div>
  <section class="forNavSection">
    <div class="container space-primary" id="about">
      <div class="row">
        <div class="col-lg-10 col-lg-push-1 text-center">
          {{ entry.body }}
        </div>
      </div>
    </div>
  </section>
  <div class="team">
    {% for block in entry.team %}
      <section id="subHead_{{ loop.index }}">
        <div class="container">
          {% if loop.index is even %}
            {% set position = 'img-right' %}
            {% set push = 'text-right col-md-push-1' %}
          {% else %}
            {% set position = '' %}
            {% set push = 'col-md-push-3' %}
          {% endif %}
          {% set image = block.teamImage.first() %}
          <div class="row space-primary-top">
            {% if image %}
              <div class="col-sm-12 {{ position }}" style="background: url({{ image.getUrl("team") }}) no-repeat;">
            {% endif %}
              <div class="content col-md-8 {{ push }} {{ block.colorSelector }}" id="movements_{{ loop.index }}">
                <h3 class="color">{{ block.teamName}}</h3>
                <p class="position"><em>{{ block.position}}</em></p>
                {{ block.shortDescription }}
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
  </div>
  <section class="light-gray testimonials">
    <div class="container space-primary">
      <div class="row">
        <div class="col-sm-12 text-center manatee">
          <h2 class="heading iron">{{ entry.sevenTitle }}</h2>
          <div class="content-body">
            {{ entry.seccontent }}
          </div>
          {% include 'testimonials/_testimonials.html' %}
        </div>
      </div>
    </div>
  </section>
  {% include 'form/_form.html' %}
{% endblock %}
