 <section class="ship-gray">
    <div class="container space-primary">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="heading outer-space">{{ mailchimp.fouthTitle }}</h3>
          <div class="content-body">
            {{ mailchimp.seccontent }}
          </div>

        <div id="mc_embed_signup">
          <form
            action="//mark1.us9.list-manage.com/subscribe/post?u={{ mailchimp.user }}&amp;id={{ mailchimp.userId }}"
            method="post"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            class="validate subscribe space-sec-top subscribe_form"
            target="_blank"
            novalidate
          >
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group input-group">
                <input type="email" value="" name="EMAIL" placeholder="EMAIL" class="required email" id="mce-EMAIL">
                <input type="submit" value="&#8594;" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg" style="display:block">
                <img src="/images/greenloader.svg" id="gif" class="loader-style" alt="loader">
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_{{ mailchimp.user }}_{{ mailchimp.userId }}" tabindex="-1" value="">
              </div>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </section>
  <script async type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script lang="javascript">
    $('.subscribe_form').submit(function(event) {
      event.preventDefault();
      $.ajax({
        url: "//mark1.us9.list-manage.com/subscribe/post?u={{ mailchimp.user }}&amp;id={{ mailchimp.userId }}",
        data: $(".subscribe_form").serialize(),
        post: "POST",
        beforeSend: function(result){
            $('#gif').css('display', 'block');
            $('#mc-embedded-subscribe').css('display', 'none');
        },
        complete: function(){
            $('#gif').css('display', 'none');
            $('#mc-embedded-subscribe').css('display', 'block');
        }
      });
    });
  </script>
