{% extends "_layout" %}
{% set query = craft.request.getParam('q') %}
{% set entries = craft.entries.section([
    'and', 'not videodemos', 'not celtrademos', 'not contactFormEntries', 'not mark1ads'
]).search(query).order('score') %}

{% block content %}
  <section class="change-bg">
    <div class="container space-primary">
      <div class="row">
        <div class="col-md-12">
          <h1><em>{{ entries|length }}</em> Search Results for {{ query }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          {% if entries|length %}
              {% for entry in entries %}
                <article class="clearfix yellow-green">
                  <div class="clearfix thoughts">
                    <div class="content">
                      <h4><a class="color" href="{{ entry.url }}">{{ entry.title }}</a></h4>
                      {% if entry.body %}
                        {{ entry.body|striptags|slice(0, 200) }}...
                      {% else %}
                        {{ entry.blogBody|striptags|slice(0,100)|default('read more') }}...
                      {% endif %}
                      <a class="color" href="{{ entry.url }}">read more</a>
                    </div>
                  </div>
                </article>
              {% endfor %}
          {% else %}
            <p>Your search for “{{ query }}” didn’t return any results.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section> 
{% endblock %}

