  {% set facebook = footer.facebook %} {% set twitter = footer.twitter %} {% set linkedin = footer.linkedin %} {% set googlePlus
  = footer.googlePlus %} {% set pinterest = footer.pinterest %} {% set vimeo = footer.vimeo %} {% set youtube = footer.youtube
  %} {% if facebook %}
  <a href="{{ facebook }}" target="_blank">
    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch Beta 42 (36679) - http://www.bohemiancoding.com/sketch -->
      <title>Fill 1</title>
      <desc>Created with Sketch Beta.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-110.000000, -7079.000000)" fill="#505050">
          <g id="Group-2" transform="translate(110.000000, 7078.000000)">
            <path d="M20.7858172,1 L1.21419032,1 C0.543541816,1 -5.68434189e-14,1.54353959 -5.68434189e-14,2.21418535 L-5.68434189e-14,21.7857322 C-5.68434189e-14,22.4562955 0.543541816,23 1.21419032,23 L11.7509388,23 L11.7509388,14.4804249 L8.88386703,14.4804249 L8.88386703,11.1601679 L11.7509388,11.1601679 L11.7509388,8.71160194 C11.7509388,5.87009498 13.4864149,4.32281234 16.0212948,4.32281234 C17.2355676,4.32281234 18.2791283,4.41315499 18.5832116,4.4535454 L18.5832116,7.42314768 L16.8251498,7.42397197 C15.4465945,7.42397197 15.1796046,8.07903857 15.1796046,9.04033047 L15.1796046,11.1601679 L18.4674803,11.1601679 L18.0394225,14.4804249 L15.1796046,14.4804249 L15.1796046,23 L20.7858172,23 C21.4563832,23 22.0000075,22.4562955 22.0000075,21.7857322 L22.0000075,2.21418535 C22.0000075,1.54353959 21.4563832,1 20.7858172,1"
              id="Fill-1"></path>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% endif %} {% if twitter %}
  <a href="{{ twitter }}" target="_blank">
    <svg width="25px" height="21px" viewBox="0 0 25 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch Beta 42 (36679) - http://www.bohemiancoding.com/sketch -->
      <title>Twitter</title>
      <desc>Created with Sketch Beta.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-162.000000, -7080.000000)" fill="#505050">
          <g id="Group-2" transform="translate(110.000000, 7078.000000)">
            <path d="M59.862,22.313969 C69.296,22.313969 74.456,14.497969 74.456,7.71996903 C74.456,7.49796903 74.456,7.27696903 74.441,7.05696903 C75.4448314,6.33087989 76.3113555,5.43184843 77,4.40196903 C76.0638791,4.8167708 75.0708293,5.08879768 74.054,5.20896903 C75.124744,4.56795109 75.9261235,3.55974102 76.309,2.37196903 C75.3021575,2.96942435 74.2006461,3.39048105 73.052,3.61696903 C71.4620828,1.92636331 68.9357194,1.51258162 66.8895493,2.60764896 C64.8433792,3.7027163 63.786275,6.03429476 64.311,8.29496903 C60.1868957,8.08821857 56.3444758,6.1402923 53.74,2.93596903 C52.3786228,5.27961376 53.0739879,8.27782851 55.328,9.78296903 C54.5117412,9.75877658 53.7132794,9.53858221 53,9.14096903 L53,9.20596903 C53.0006681,11.647562 54.7217515,13.7505042 57.115,14.233969 C56.3598696,14.4399091 55.5675806,14.4700133 54.799,14.321969 C55.4709479,16.4113919 57.3965746,17.8427529 59.591,17.883969 C57.774735,19.311401 55.5310595,20.0862968 53.221,20.083969 C52.8129036,20.0831856 52.4052041,20.0584765 52,20.009969 C54.3456359,21.5152456 57.0749134,22.313686 59.862,22.309969"
              id="Twitter"></path>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% endif %} {% if linkedin %}
  <a href="{{ linkedin }}" target="_blank">
    <svg width="22px" height="23px" viewBox="0 0 22 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch Beta 42 (36679) - http://www.bohemiancoding.com/sketch -->
      <title>Combined Shape</title>
      <desc>Created with Sketch Beta.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-217.000000, -7079.000000)" fill="#505050">
          <g id="Group-2" transform="translate(110.000000, 7078.000000)">
            <path d="M107,2.58634616 C107,1.71022495 107.727789,1 108.625606,1 L127.373951,1 C128.271769,1 129,1.71022495 129,2.58634616 L129,21.5537211 C129,22.4295471 128.271769,23.1396244 127.373951,23.1396244 L108.625606,23.1396244 C107.727789,23.1396244 107,22.4295471 107,21.5537211 L107,2.58634616 Z M112.007322,8.17123517 C113.165939,8.17123517 113.887234,7.40330075 113.887234,6.44364102 C113.865537,5.46317046 113.165939,4.71648967 112.029314,4.71648967 C110.892688,4.71648967 110.14955,5.46317046 110.14955,6.44364102 C110.14955,7.40330075 110.870696,8.17123517 111.985626,8.17123517 L112.007322,8.17123517 Z M110.345703,19.5330632 L113.668351,19.5330632 L113.668351,9.53574673 L110.345703,9.53574673 L110.345703,19.5330632 Z M115.507364,19.5330337 L118.830308,19.5330337 L118.830308,13.9501224 C118.830308,13.6513911 118.852004,13.3528073 118.939675,13.1395332 C119.179812,12.5423657 119.72665,11.9239445 120.64454,11.9239445 C121.847288,11.9239445 122.328003,12.8409494 122.328003,14.1846502 L122.328003,19.5330337 L125.650652,19.5330337 L125.650652,13.8006092 C125.650652,10.7301999 124.011172,9.30118948 121.824854,9.30118948 C120.032318,9.30118948 119.245491,10.3033564 118.808316,10.9858336 L118.830308,10.9858336 L118.830308,9.53571721 L115.507364,9.53571721 C115.551052,10.4736805 115.507364,19.5330337 115.507364,19.5330337 Z"
              id="Combined-Shape"></path>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% endif %} {% if googlePlus %}
  <a href="{{ googlePlus }}" target="_blank">
    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch Beta 42 (36679) - http://www.bohemiancoding.com/sketch -->
      <title>Combined Shape</title>
      <desc>Created with Sketch Beta.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-269.000000, -7078.000000)" fill="#505050">
          <g id="Group-2" transform="translate(110.000000, 7078.000000)">
            <path d="M171,24 C164.372455,24 159,18.6275455 159,12 C159,5.37245455 164.372455,0 171,0 C177.627545,0 183,5.37245455 183,12 C183,18.6275455 177.627545,24 171,24 Z M164.3358,12.0136091 C164.3358,11.6369727 164.403982,11.2723364 164.5158,10.9322455 C164.968527,9.61388182 166.221982,8.65988182 167.698527,8.65988182 C168.746891,8.65988182 169.454345,9.10333636 169.857436,9.47397273 L171.433527,7.96715455 C170.465618,7.08624545 169.206164,6.54542727 167.698527,6.54542727 C165.514527,6.54542727 163.628345,7.7727 162.710345,9.55906364 C162.3318,10.3003364 162.114709,11.1327 162.114709,12.0136091 C162.114709,12.8945182 162.3318,13.7268818 162.710345,14.4681545 C163.628345,16.2545182 165.514527,17.4817909 167.698527,17.4817909 C169.206164,17.4817909 170.471891,16.9957909 171.396164,16.1571545 C172.451073,15.2034273 173.058982,13.7999727 173.058982,12.1349727 C173.058982,11.6855182 173.021891,11.3574273 172.941164,11.0170636 L167.698527,11.0170636 L167.698527,13.0464273 L170.775709,13.0464273 C170.7138,13.5507 170.378891,14.3102455 169.634345,14.8205182 C169.1628,15.1426091 168.5298,15.3673364 167.698527,15.3673364 C166.221982,15.3673364 164.968527,14.4136091 164.5218,13.0949727 C164.403982,12.7548818 164.3358,12.3902455 164.3358,12.0136091 Z M179.727273,10.9090909 L177.818182,10.9090909 L177.818182,9 L176.454545,9 L176.454545,10.9090909 L174.545455,10.9090909 L174.545455,12.2727273 L176.454545,12.2727273 L176.454545,14.1818182 L177.818182,14.1818182 L177.818182,12.2727273 L179.727273,12.2727273 L179.727273,10.9090909 Z"
              id="Combined-Shape"></path>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% endif %} {% if pinterest %}
  <a href="{{ pinterest }}" target="_blank">
    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch Beta 42 (36679) - http://www.bohemiancoding.com/sketch -->
      <title>Pinterest Icon</title>
      <desc>Created with Sketch Beta.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-323.000000, -7078.000000)" fill="#505050">
          <g id="Group-2" transform="translate(110.000000, 7078.000000)">
            <path d="M225.000087,0 C218.373034,0 213,5.372509 213,11.9999125 C213,16.9135676 215.954736,21.1347435 220.182821,22.9907139 C220.149059,22.1527764 220.176786,21.1469015 220.391694,20.2352289 C220.622432,19.2611047 221.935755,13.6965173 221.935755,13.6965173 C221.935755,13.6965173 221.552386,12.9303905 221.552386,11.7978629 C221.552386,10.019651 222.583101,8.69154628 223.866685,8.69154628 C224.958103,8.69154628 225.485444,9.51137805 225.485444,10.4930245 C225.485444,11.5903028 224.785617,13.2315407 224.425689,14.7516364 C224.125064,16.0245492 225.063939,17.062787 226.319708,17.062787 C228.593335,17.062787 230.124539,14.1426885 230.124539,10.6828287 C230.124539,8.05285945 228.35315,6.08431856 225.131376,6.08431856 C221.491333,6.08431856 219.223654,8.79886876 219.223654,11.831013 C219.223654,12.8764232 219.531889,13.6137732 220.014709,14.1845853 C220.236789,14.4469 220.267577,14.5523857 220.187195,14.8534484 C220.129641,15.0742161 219.997478,15.6058428 219.942723,15.8164643 C219.862866,16.120326 219.616645,16.2290479 219.34191,16.1167398 C217.665335,15.4323075 216.884426,13.5962797 216.884426,11.5323119 C216.884426,8.12362057 219.759392,4.03618234 225.460778,4.03618234 C230.042145,4.03618234 233.057495,7.35145852 233.057495,10.9102439 C233.057495,15.6175635 230.440471,19.1343645 226.58281,19.1343645 C225.287243,19.1343645 224.068647,18.4340131 223.651166,17.6386722 C223.651166,17.6386722 222.954488,20.4034287 222.80693,20.9373296 C222.552575,21.8625596 222.054536,22.7871773 221.599181,23.5079085 C222.678528,23.8265522 223.818491,24 225.000087,24 C231.626616,24 236.999388,18.6274035 236.999388,11.9999125 C236.999388,5.372509 231.626616,0 225.000087,0"
              id="Pinterest-Icon"></path>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% endif %} {% if vimeo %}
  <a href="{{ vimeo }}" target="_blank">
    <svg width="21px" height="18px" viewBox="0 0 21 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch Beta 42 (36679) - http://www.bohemiancoding.com/sketch -->
      <title>Fill 1</title>
      <desc>Created with Sketch Beta.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-377.000000, -7081.000000)" fill="#505050">
          <g id="Group-2" transform="translate(110.000000, 7078.000000)">
            <path d="M275.002412,20.5299659 C273.917339,19.625456 273.465084,18.6315123 272.380011,14.4268552 C271.25001,10.2671268 270.662121,8.68487026 270.029303,8.45853085 C269.215498,8.45853085 268.672962,8.82050436 267.949439,9.18205401 C267.632818,8.77515171 267.316197,8.41360205 267,8.00669975 L268.763243,6.33416173 C271.792122,3.48584559 273.374803,2.76232243 274.685791,3.66683235 C275.544948,4.25472141 275.906498,5.20373626 276.449034,8.27839181 C277.127205,12.0761467 277.624389,13.7940373 278.167349,14.2916449 C278.61918,14.6985472 278.664533,14.6536185 279.342703,14.0199529 C280.427776,12.9802327 281.784117,10.2675507 281.784117,9.09219642 C281.784117,7.8714895 281.241581,7.50993985 279.839887,7.7358554 L278.890872,7.8714895 L279.297351,6.87669814 C279.839887,5.52035712 281.196228,3.98302935 282.372006,3.4409168 C283.683418,2.85302773 285.536943,2.85302773 286.530887,3.4409168 C287.526102,4.028382 287.887652,5.24951277 287.796946,7.28360044 C287.661312,9.36346462 286.530887,11.6688205 283.953839,15.1054496 C280.111155,20.2595454 277.036924,22.0681414 275.092693,20.3951795 L275.002412,20.5299659 Z"
              id="Fill-1"></path>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% endif %} {% if youtube %}
  <a href="{{ youtube }}" target="_blank">
    <svg width="31px" height="22px" viewBox="0 0 31 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch Beta 42 (36679) - http://www.bohemiancoding.com/sketch -->
      <title>Fill 5</title>
      <desc>Created with Sketch Beta.</desc>
      <defs></defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Home" transform="translate(-427.000000, -7079.000000)" fill="#505050">
          <g id="Group-2" transform="translate(110.000000, 7078.000000)">
            <g id="Page-1" transform="translate(317.810405, 1.000000)">
              <path d="M20.0656579,10.6940802 C17.3240849,9.22898632 14.6990094,7.87040434 12.0156852,6.46411388 L12.0156852,14.8774476 C14.8393611,13.3424553 17.8161479,11.9361648 20.0773076,10.6824305 L20.0656579,10.6940802 Z M12.5193979,21.4739762 C6.82489234,21.3691285 4.87993994,21.274821 3.68445436,21.0285122 C2.87562932,20.864861 2.17276146,20.5015 1.657399,19.9744878 C1.25908873,19.5756227 0.942326659,18.9670623 0.696572547,18.1227333 C0.485767666,17.4193107 0.403664713,16.8340498 0.286612529,15.4044598 C0.10742838,12.1780357 0.0647126539,9.5402009 0.286612529,6.59281581 C0.469679925,4.96518023 0.558439875,3.03298707 1.77445119,1.90573571 C2.34861711,1.37816875 3.01653574,1.03866195 3.76655731,0.898310275 C4.93818865,0.675855651 9.92982633,0.5 15.0973197,0.5 C20.2531633,0.5 25.2558959,0.675855651 26.4286368,0.898310275 C27.365609,1.07416593 28.2443325,1.60117813 28.7602497,2.28074649 C29.8697491,4.02598901 29.8891653,6.19616978 30.0017795,7.89370383 C30.0483785,8.70252887 30.0483785,13.2953015 30.0017795,14.1041266 C29.8264786,16.7868961 29.6855722,17.7360728 29.2872619,18.7201987 C29.040953,19.3415184 28.8307029,19.6693754 28.4667871,20.0327365 C27.9037162,20.5830482 27.1891986,20.958059 26.3809283,21.0989654 C21.4530868,21.4695382 17.2686099,21.5499769 12.5193979,21.4739762 L12.5193979,21.4739762 Z"
                id="Fill-5"></path>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </a>
  {% endif %}

