{#
/**
 * DemoUrls plugin for Craft CMS
 *
 * DemoUrls_CeltraDemoFieldType HTML
 *
 * @author    responsive
 * @copyright Copyright (c) 2017 responsive
 * @link      www.responsive.co.za
 * @package   DemoUrls
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
    id: id ~ 'url',
    class: 'nicetext',
    name: name ~ '[url]',
    value: values.url,
    readonly: true,
}) }}

{#
    errors: values.getErrors('someField'),
#}
