{#
/**
 * DemoUrls plugin for Craft CMS
 *
 * DemoUrls_VideoDemoFieldType HTML
 *
 * @author    responsive
 * @copyright Copyright (c) 2017 responsive
 * @link      www.responsive.co.za
 * @package   DemoUrls
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set urlValue = values %}
{#{% if urlValue is null %}#}
    {#{% urlValue = '' %}#}
{#{% endif %}#}

{{ forms.textField({
  id: id ~ 'url',
  class: 'nicetext',
  name: name ~ '[url]',
  value: values.url,
  readonly: true,
}) }}

{#
    value: values.someField,
    errors: values.getErrors('someField'),
#}


{#<input type="text" id="{{ id ~ 'someField' }}" class="{{ 'nicetext' }}" name="{{ name ~ '[url]' }}" value="{{ values.url }}" disabled />#}
