.demo_frame {
  header,
  title {
    display: none;
  }
}

.demo_frame {
  width: 400px;
  display: block;
  margin: 0 auto;
  float: none;
  background: #fff;
  height: 750px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-width: 104px 28px;
  border-style: solid;
  border-color: #fff;
  -webkit-border-image: url(http://mark1.celtra.com/img/preview/portrait/phone_border_small.png) 104 28 104 28;
  -moz-border-image: url(http://mark1.celtra.com/img/preview/portrait/phone_border_small.png) 104 28 104 28;
  border-image: url(http://mark1.celtra.com/img/preview/portrait/phone_border_small.png) 104 28 104 28;
  background-clip: padding-box;
}

.demo_frame {
  .landscape {
    width: 750px;
    display: block;
    margin: 0 auto;
    float: none;
    height: 401px;
    border-width: 28px 110px;
    -webkit-border-image: url(http://mark1.celtra.com/img/preview/landscape/phone_border_small.png) 28 104 28 104;
    -moz-border-image: url(http://mark1.celtra.com/img/preview/landscape/phone_border_small.png) 28 104 28 104;
    border-image: url(http://mark1.celtra.com/img/preview/landscape/phone_border_small.png) 28 104 28 104;
  }

  iframe {
    background: #fff;
  }
}

.demo-title {
  font-size: 30px;
  font-weight: bold;
  color: #555;
  text-align: center;
  display: block;
}

.demo-content {
  font-size: 14px;
  color: #888;
  margin: 30px 0;
  line-height: 25px;
}

.demo-content p {
  font-size: 14px;
  color: #888;
  margin: 30px 0;
  line-height: 25px;
}

.advert-title {
  font-weight: 100;
  font-size: 47px;
  line-height: 150px;
  margin: 0;
  color: #fff;
  display: inline-block;
}

.blogarchive {
  .blogitem {
    border-bottom: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}

.video-demo-contaniner {
  max-width: 850px;
  margin: 0 auto;
  float: none;
  display: block;
}

.embed-container {
  position: relative;
  padding-bottom: 50.25%;
  max-width: 100%;
}

.embed-container {
  iframe,
  object,
  embed {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 50px;
  }
}

.rotate {
  float: right;
  background: #6c3;
  color: #fff;
  padding: 8px 15px;
  text-transform: uppercase;
  text-decoration: none !important;
  margin: 0 0 0 20px;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.rotate:hover {
  background: #52a329;
}

.rotate:focus {
  outline: none;
}

.notification-box {
  position: relative;

  .wrapper {
    position: relative;
    margin: 192px auto;
  }
}

.main {
  float: none !important;
}
