@font-face {
  font-family: 'Montserrat';
  src:
    url('~/../fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('~/../fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('~/../fonts/montserrat-bold-webfont.woff2') format('woff2'),
    url('~/../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('~/../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('~/../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('~/../fonts/opensans-bold-webfont.woff2') format('woff2'),
    url('~/../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('~/../fonts/opensans-italic-webfont.woff2') format('woff2'),
    url('~/../fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('~/../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
    url('~/../fonts/opensans-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans-Light';
  src:
    url('~/../fonts/OpenSans-Light.eot'),
    url('~/../fonts/OpenSans-Light.woff2') format('woff2'),
    url('~/../fonts/OpenSans-Light.woff') format('woff'),
    url('~/../fonts/OpenSans-Light.ttf') format('truetype'),
    url('~/../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg'),
    url('~/../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
