footer {
  background-color: #282828;
  position: relative;
  font-size: 16px;

  .footer {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
    color: #fff;

    @include breakpoint(laptop) {
      text-align: left;
    }

    .social-btn {
      padding: 40px 0;

      a {
        padding-right: 24px;

        @include breakpoint(laptop) {
          padding-right: 30px;
        }

        &:hover {
          svg {
            g {
              fill: $yellow-green;
            }
          }
        }
      }
    }

    a {
      color: #fff;

      &:hover {
        color: #a7dd31;
        text-decoration: none;
      }
    }

    .sitemap {
      margin-top: 40px;

      a {
        font-size: 16px;
      }
    }

    h4 {
      font-family: $font-montserrat;
      font-size: 16px;
      line-height: 1.3;
    }

    .copyright {
      font-size: 12px;
      text-align: center;

      @include breakpoint(laptop) {
        text-align: left;
      }
    }

    .text-right {
      text-align: center;

      @include breakpoint(laptop) {
        text-align: right;
      }
    }

    #footerNav {
      display: inline-block;
      list-style: none;
      padding: 0;

      li {
        float: none;
        padding: 0 6px;
        display: inline-block;

        @include breakpoint(laptop) {
          float: left;
          padding: 0 5px 0 0;

          &::after {
            content: '|';
            padding-left: 5px;
          }

          &:last-child {
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }
}
