nav {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px 10px;

  &.active {
    background-color: #242424 !important;
    min-height: 100vh;
  }

  .hamburger {
    color: $white;
    cursor: pointer;
    outline: none;

    &::after {
      content: url(/images/Menu-Icon.svg);
    }

    &.active::after {
      content: url(/images/Menu-Icon-x.svg);
    }
  }

  .search {
    margin-right: 40px;

    &::after {
      content: url(/images/search_icon.svg);
    }

    &.active::after {
      content: url(/images/Menu-Icon-x.svg);
    }
  }

  &.menu {
    .search {
      display: none;
    }
  }

  &.search {
    &.active {
      min-height: 100vh;
    }

    .hamburger {
      display: none;
    }

    .search {
      margin: 0;
    }

    .searching {
      form {
        .input-group {
          position: relative;
          max-width: 700px;
          margin: auto;
        }

        input[type="search"] {
          width: 100%;
          color: #a7dd31;
          height: 60px;
          text-indent: 10px;
          border: 1px solid #a7dd31;
          background: transparent;

          &:focus {
            outline: none;
          }
        }

        input[type="submit"] {
          position: absolute;
          top: 2px;
          height: 54px;
          right: 4px;
          background: transparent;
          color: #a7dd31;
          border: 0;
        }
      }
    }
  }

  .nav-menu {
    margin-top: 80px;
    line-height: 1.1em;
    margin-bottom: 50px;

    @include breakpoint(laptop) {
      padding-left: 40px;
    }

    @include breakpoint(desktop) {
      margin-bottom: 125px;
    }

    .active {
      a {
        color: $yellow-green;

        &:focus {
          color: $yellow-green;
        }
      }
    }
  }

  .social-btn {
    padding: 15px 0;

    @include breakpoint(laptop) {
      padding-left: 40px;
    }

    @include breakpoint(desktop) {
      padding: 15px 28px;
    }

    a {
      padding: 0 7px;

      @include breakpoint(desktop) {
        padding: 0 15px;
      }

      &:hover {
        svg {
          g {
            fill: $yellow-green;
          }
        }
      }
    }
  }

  .contacts {
    padding: 15px 0;
    color: $ship-gray;
    font-size: 14px;

    @include breakpoint(laptop) {
      padding: 15px 40px;
    }

    a {
      color: $ship-gray;

      &:hover {
        color: #a7dd31;
        text-decoration: none;
      }
    }

    p {
      margin: 0 0 30px;
      line-height: 2;
    }
  }

  ul {
    font-size: 30px;
    text-transform: uppercase;
    list-style: none;
    padding: 0;

    @include breakpoint(laptop) {
      font-size: 70px;
      font-size: 4vw; /* stylelint-disable-line declaration-block-no-duplicate-properties */
    }

    a {
      color: #464646;
      font-family: $font-montserrat;
      font-weight: bold;

      &:hover {
        color: #a7dd31;
        text-decoration: none;
      }
    }
  }
}

a:focus {
  text-decoration: none;
  color: $yellow-green;
  outline: none;
}

.content-color {
  color: $yellow-green;
}

.social-btn {
  a:hover {
    text-decoration: none;

    img {
      opacity: .8;
    }
  }
}

.banner {
  width: 100%;

  &.full-height {
    height: 100vh;
  }

  &.fixed {
    min-height: 600px;
    background-position: center 0;
    background-attachment: fixed;
    background-repeat: no-repeat;

    @include breakpoint(desktop) {
      background-size: contain;
    }
  }
}

blockquote {
  border-left: 0;
  position: relative;
  font-size: 14px;

  &::before {
    content: url(/images/quotes.svg);
    padding-right: 6px;
  }

  &::after {
    content: url(/images/quotes.svg);
    padding-right: 6px;
    transform: rotate(180deg);
    display: inline-block;
    position: absolute;
    bottom: 20px;
  }
}

article {
  blockquote {
    font-size: 22px;
    padding: 66px 62px;
    font-family: 'Open Sans';
    line-height: 40px;
    overflow: hidden;

    &::before {
      content: url(/images/Quote.svg);
      position: absolute;
      top: 30px;
      left: 0;
      z-index: -1;
    }

    small {
      line-height: 2.2;
    }

    &::after {
      content: url(/images/Quote.svg);
      transform: scaleX(-1);
      bottom: 20px;
      right: 0;
      z-index: -1;

      @include breakpoint(mobileonly) {
        bottom: 0;
      }
    }

    small {
      &::before {
        content: none;
      }
    }
  }
}

.banner-container {
  position: relative;
  font-family: $font-montserrat;

  &.home-banner {
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;

    .image-overlay {
      position: absolute;
      top: 0;
      text-align: center;
      left: 0;
      right: 0;
      color: #fff;
      background: rgba(0, 0, 0, .6);
      height: 100%;

      .caption {
        position: fixed;
      }
    }

    .video-container {
      video {
        position: fixed;
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
      }
    }
  }

  .banner {
    width: 100%;
  }

  .caption {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    font-size: 26px;
    font-weight: bold;
    max-width: 800px;
    width: 100%;
    padding: 0 20px;
    bottom: 2%;

    .caption-image {
      padding: 40px 0;

      @include breakpoint(mobileonly) {
        padding: 20px 30px;
      }
    }

    .call-to {
      padding-top: 50px;

      @include breakpoint(desktop) {
        padding-top: 60px;
      }

      @include breakpoint(mobileonly) {
        padding-top: 20px;
      }
    }

    a {
      color: $white;
    }

    .scroll {
      padding-top: 20px;

      @include breakpoint(tablet) {
        padding-top: 120px;
        padding-top: 10vh; /* stylelint-disable-line declaration-block-no-duplicate-properties */
      }

      @include breakpoint(desktop) {
        padding-top: 170px;
        padding-top: 18vh; /* stylelint-disable-line declaration-block-no-duplicate-properties */
      }

      a {
        color: #a0a0a0;

        &:hover {
          text-decoration: none;
          color: $white;
        }

        p {
          line-height: 1;
          margin: 0;
          font-weight: 100;
          font-size: 18px;
        }
      }
    }
  }
}

.more {
  border: 1px solid;
  font-size: 16px;
  font-family: $font-montserrat;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: bold;
}

.latest-news {
  @include breakpoint(mobileonly) {
    .mobile-only > article:first-of-type {
      padding-bottom: 0;
    }
  }

  .btn-secondary {
    color: $rangoon-green;

    &:hover {
      border-color: $yellow-green;
      background: $yellow-green;
    }
  }
}

.news-section {
  box-shadow: 0 0 20px 0 #ccc;
  background-color: $white;
  height: 100%;
  position: relative;

  > div > img {
    width: 100%;

    @include breakpoint(mobileonly) {
      object-fit: cover;
      height: 200px;
    }
  }

  .news-content {
    padding: 30px;

    &.hide-mobile-title {
      @include breakpoint(mobileonly) {
        .entry-title {
          visibility: hidden;
        }

        .btn-more {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }

    h3 {
      line-height: 1.2;
      margin-bottom: 30px;

      a {
        color: $ship-gray;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .small {
      font-size: 14px;
    }

    .btn-more {
      font-family: $font-montserrat;
      padding: 15px 39px;
      background: $yellow-green;
      color: $white;
      line-height: 3;
      font-size: 16px;

      &:hover {
        background: transparent;
        border: 1px solid $yellow-green;
        color: $rangoon-green;
      }
    }
  }

  @include breakpoint(mobileonly) {
    .news-content {
      position: absolute;
      top: 0;
      text-align: center;
      left: 0;
      right: 0;
      color: #fff;
      background: rgba(0, 0, 0, .6);
      height: 100%;
      padding: 20px 10px;

      h3 {
        font-size: 18px;
        margin-bottom: 0;

        a {
          color: $white;
        }
      }

      .btn-more {
        background: transparent;
        text-transform: lowercase;

        &:hover {
          background: transparent;
          color: $rangoon-green;
          border: none;
        }
      }
    }
  }
}

@include breakpoint(mobileonly) {
  .mobile-only {
    padding-bottom: 30px !important;
  }
}

.btn-submit {
  font-family: $font-montserrat;
  padding: 0 50px;
  background: #a7dd31;
  color: $white;
  line-height: 3;
  border: 0;
  margin-top: 40px;

  &:hover {
    background: $ship-gray;
  }
}

.awards-section {
  .mobile-award {
    margin-bottom: 50px;

    @include breakpoint(laptop) {
      left: 0;
      right: 0;
      margin-bottom: 0;
    }
  }

  .award {
    max-width: 322px;
    position: relative;
    margin: auto;
    font-size: 17px;
    height: 140px;

    .flower,
    .flower1 {
      background: url(/images/awards.svg) no-repeat;
      height: 140px;
      position: absolute;
      z-index: 99;
      top: -14px;
      width: 100px;
    }

    .flower1 {
      @include breakpoint(mobileonly) {
        left: -16px;
      }
    }

    .flower {
      transform: scaleX(-1);
      right: 0;

      @include breakpoint(mobileonly) {
        right: -16px;
      }
    }

    h4 {
      font-size: 21px;
    }
  }
}

.clients-section {
  .slick-next {
    top: 52%;

    &[aria-disabled="true"] {
      display: none;
    }

    &::before {
      content: url(/images/carousel-arrow.svg);
    }
  }

  .slick-prev {
    transform: rotate(180deg);
    top: 8%;

    &[aria-disabled="true"] {
      display: none !important;
    }

    &::before {
      content: url(/images/carousel-arrow.svg);
    }
  }

  .slick-track {
    height: 88px;

    .slick-slide {
      position: relative;

      img {
        margin: auto;
        max-height: 88px;
        padding: 0 18px;
        max-width: 166px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .flex-item {
    margin-bottom: 40px;
  }
}

.slick-slider:focus {
  outline: none;
}

.flex {
  display: flex;
}

.atlantis {
  h3,
  a.more,
  .color {
    color: $yellow-green;
  }

  a.more:hover {
    color: $white;
    text-decoration: none;
  }

  .more-border {
    border-color: $yellow-green !important;

    &:hover {
      background: $yellow-green !important;
    }
  }
}

.amaranth {
  h3,
  a.more,
  .color {
    color: $amaranth;
  }

  a.more:hover {
    color: $white;
    text-decoration: none;
  }

  .more-border {
    border-color: $amaranth !important;

    &:hover {
      background: $amaranth !important;
    }
  }
}

.cadmium-orange {
  h3,
  a.more,
  .color {
    color: $cadmium-orange;
  }

  a.more:hover {
    color: $white;
    text-decoration: none;
  }

  .more-border {
    border-color: $cadmium-orange !important;

    &:hover {
      background: $cadmium-orange !important;
    }
  }
}

.bright-cerulean {
  h3,
  a.more,
  .color {
    color: $bright-cerulean;
  }

  a.more:hover {
    color: $white;
    text-decoration: none;
  }

  .more-border {
    border-color: $bright-cerulean !important;

    &:hover {
      background: $bright-cerulean !important;
    }
  }
}

.dandelion {
  h3,
  a.more,
  .color {
    color: $dandelion;
  }

  a.more:hover {
    color: $white;
    text-decoration: none;
  }

  .more-border {
    border-color: $dandelion !important;

    &:hover {
      background: $dandelion !important;
    }
  }
}

.gainsboro {
  h3 {
    color: #dcdcdc;
  }
}

.shamrock {
  h3,
  a.more,
  .color {
    color: $shamrock;
  }

  a.more:hover {
    color: $white;
    text-decoration: none;
  }

  .more-border {
    border-color: $shamrock !important;

    &:hover {
      background: $shamrock !important;
    }
  }
}

.rosso-corsa {
  .color {
    color: $rosso-corsa;
  }

  a.color:hover {
    opacity: .8;
    text-decoration: none;
  }

  .more-border {
    border-color: $rosso-corsa !important;

    &:hover {
      background: $rosso-corsa !important;
    }
  }
}

.fulvous {
  .color {
    color: $fulvous;
  }

  a.color:hover {
    opacity: .8;
    text-decoration: none;
  }

  .more-border {
    border-color: $fulvous !important;

    &:hover {
      background: $fulvous !important;
    }
  }
}

.dark-midnight-blue {
  .color {
    color: $dark-midnight-blue;
  }

  a.color:hover {
    opacity: .8;
    text-decoration: none;
  }

  .more-border {
    border-color: $dark-midnight-blue !important;

    &:hover {
      background: $dark-midnight-blue !important;
    }
  }
}

.rich-electric-blue {
  .color {
    color: $rich-electric-blue;
  }

  a.color:hover {
    opacity: .8;
    text-decoration: none;
  }

  .more-border {
    border-color: $rich-electric-blue !important;

    &:hover {
      background: $rich-electric-blue !important;
    }
  }
}

.sea-green {
  .color {
    color: $sea-green;
  }

  a.color:hover {
    opacity: .8;
    text-decoration: none;
  }

  .more-border {
    border-color: $sea-green !important;

    &:hover {
      background: $sea-green !important;
    }
  }
}

.yellow-green {
  .color {
    color: $yellow-green;
  }

  a.color:hover {
    opacity: .8;
    text-decoration: none;
  }

  .more-border {
    border-color: $yellow-green !important;

    &:hover {
      background: $yellow-green !important;
    }
  }
}

.manatee {
  .color {
    color: $manatee;
  }

  a.color:hover {
    opacity: .8;
    text-decoration: none;
  }

  .more-border {
    border-color: $manatee !important;

    &:hover {
      background: $manatee !important;
    }
  }
}

.rangoon-green {
  background-color: $rangoon-green;
  color: $white;
}

.bokara-gray {
  background-color: #282828;
  color: $white;
}

.ship-gray {
  background-color: $ship-gray;
  color: $white;
}

.munsell {
  background-color: #f0f0f0;
}

.light-gray {
  background-color: #f9f9f9;
}

.white {
  color: $white;
}

.white-bg {
  background-color: $white;
}

.content {
  padding: 30px 0;

  p {
    line-height: 1.6;
  }
}

.bg-color,
.key-services {
  section {
    background-repeat: no-repeat;
    color: $white;

    &:nth-of-type(even) {
      text-align: right;
      background-position: right 15px;
      background-color: #1b1b1b;
    }

    &:nth-of-type(odd) {
      background-color: #282828;
    }
  }
}

.more-services {
  a {
    &:hover {
      text-decoration: none;
      color: $white !important;

      img {
        filter: grayscale(1);
      }
    }
  }

  img {
    transition: transform .8s ease-in-out;
  }

  h4 {
    padding-top: 30px;
  }

  .btn:hover {
    border: 2px solid $yellow-green;
    background: $yellow-green;
    color: $rangoon-green !important;
  }
}

.service-section {
  .odd-section {
    .content {
      img {
        @include breakpoint(laptop) {
          margin-left: -100px !important;
        }
      }

      img.small-img-float {
        float: right;

        @include breakpoint(mobileonly) {
          width: 50%;
        }

        @include breakpoint(laptop) {
          float: none;
        }
      }

      .section-heading {
        margin-top: 30%;

        @include breakpoint(laptop) {
          margin-top: -30px;
        }
      }
    }
  }

  .service-slide {
    margin-bottom: 80px;

    .caseStudies .case-study h3 {
      margin-top: inherit;
    }

    .client-logo {
      margin-bottom: 40px;
    }

    .slick-arrow {
      filter: grayscale(100);
    }

    & + .slide-available {
      .extra {
        margin-top: 0;
      }
    }
  }

  .even-section {
    .content {
      img {
        @include breakpoint(laptop) {
          margin-right: -100px !important;
        }
      }

      img.small-img-float {
        float: left;

        @include breakpoint(mobileonly) {
          width: 50%;
        }

        @include breakpoint(laptop) {
          float: none;
        }
      }

      .section-heading {
        margin-top: 30%;

        @include breakpoint(laptop) {
          margin-top: -30px;
        }
      }
    }
  }

  .extra {
    margin-top: -80px;

    &.first {
      margin-top: -150px;
    }

    @include breakpoint(mobileonly) {
      margin-top: 0 !important;
    }
  }

  .row {
    @include breakpoint(mobileonly) {
      background-size: 70% !important;

      .section-heading {
        margin-top: 0 !important;
        font-size: 45px;
      }
    }
  }
}

.partners-section {
  .flex-item img {
    max-width: 152px;
    margin: auto;
  }
}

.case-study-slide {
  @include breakpoint(mobileonly) {
    > div.space-primary {
      padding-bottom: 40px;
    }
  }

  .btn {
    border-color: #337ab7;

    &:hover {
      border-color: #337ab7;
      background: #337ab7;
    }
  }
}

.caseStudies {
  .case-study {
    h3 {
      margin-top: 40px;
    }
  }

  .large-img {
    img {
      margin: 0 0 0 auto;
    }
  }

  .slick-prev {
    left: 55px;
    top: 30%;
  }

  .slick-next {
    right: 55px;
    top: 30%;
  }
}

.social-links {
  padding: 20px 0 30px;

  span {
    color: #a7dd31;
    font-size: 16px;

    img {
      padding: 0 10px;
    }
  }

  a {
    padding: 0 10px;

    img[alt="mail"] {
      height: 20px;
    }

    &:hover {
      img {
        opacity: .6;
      }
    }
  }
}

.case-studies {
  section {
    p {
      margin: 0 0 40px;

      em {
        margin-top: -40px;
        display: block;
        font-size: 14px;
      }
    }

    &:nth-of-type(even) {
      background-color: #282828;
      color: $white;
    }
  }
}

.subscribe {
  .input-group {
    position: relative;
    max-width: 770px;
    margin: auto;

    input {
      &[type="email"] {
        width: 100%;
        color: #a7dd31;
        height: 60px;
        text-indent: 10px;
        border: 1px solid #a7dd31;
        background: transparent;
        padding-right: 60px;
        font-family: $font-montserrat;
        -webkit-appearance: none;
      }

      &:focus {
        outline: none;
      }

      &[type="submit"] {
        position: absolute;
        top: 2px;
        height: 54px;
        right: 4px;
        background: transparent;
        color: #a7dd31;
        border: 0;

        &:hover {
          font-size: 26px;
        }
      }
    }

    ::-webkit-input-placeholder {
      color: #a7dd31;
      font-size: 20px;
    }

    ::-moz-placeholder {
      color: #a7dd31;
      font-size: 20px;
    }

    :-ms-input-placeholder {
      color: #a7dd31;
      font-size: 20px;
    }

    :-moz-placeholder {
      color: #a7dd31;
      font-size: 20px;
    }
  }

  .response {
    padding-top: 20px;
  }
}

.industry-section {
  .slick-next {
    top: 34%;

    &[aria-disabled="true"] {
      display: none;
    }

    &::before {
      content: url(/images/carousel-arrow.svg);
    }
  }

  .slick-prev {
    transform: rotate(180deg);

    &[aria-disabled="true"] {
      display: none !important;
    }

    &::before {
      content: url(/images/carousel-arrow.svg);
    }
  }

  .slick-track {
    margin: auto;

    .slick-slide {
      display: flex;

      img {
        max-height: 43px;
        margin: auto;
      }
    }
  }

  .slick-dots {
    bottom: -50px;
  }

  @include breakpoint(mobileonly) {
    .slick-arrow {
      display: none !important;
    }
  }
}

input {
  &:focus {
    outline: none;
  }
}

.checkboxes {
  @include breakpoint(mobileonly) {
    padding-left: 0;
    padding-right: 0;

    div.flex {
      padding-left: 0;
      padding-right: 0;
    }
  }

  div {
    margin: 20px 0;

    label {
      display: inline-block;
      user-select: none;
      position: relative;
      width: 30px;
      height: 30px;
      border: 2px solid #aaa;
      border-radius: 2px;
      transition-duration: .25s;
      cursor: pointer;
      overflow: hidden;
      color: rgba(0, 0, 0, .1);
      text-align: center;
      margin-right: 10px;

      &::after {
        content: '';
        display: block;
        margin-left: 9px;
        margin-top: 2px;
        width: 9px;
        height: 18px;
        border: solid $white;
        border-width: 0 6px 6px 0;
        transform: rotate(45deg);
      }

      &:hover {
        border: 2px solid #0f0f0f;
        color: black;
      }

      &:active {
        transition-duration: 0;
        filter: brightness(.8);
      }
    }
  }

  input {
    display: none;

    &:checked + label {
      color: #269b0a;
      animation: boom .5s ease;
    }

    &:checked + .green-background {
      border-color: #269b0a;
      background: #269b0a;
    }

    &:checked + .green-background::after {
      content: '';
      display: block;
      margin-left: 9px;
      margin-top: 2px;
      width: 9px;
      height: 18px;
      border: solid white;
      border-width: 0 6px 6px 0;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.radios {
  input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0 2rem;
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 0 8px white, 0 0 0 2px rgba(0, 0, 0, .3);
    border-radius: 50%;
    transition-duration: .25s;
    cursor: pointer;

    &:checked {
      background: #269b0a;
      box-shadow: inset 0 0 0 6px white, 0 0 0 2px #269b0a;
    }

    &:hover {
      background: rgba(0, 0, 0, .5);
      box-shadow: inset 0 0 0 6px white, 0 0 0 2px rgba(0, 0, 0, .5);
    }
  }
}

@-webkit-keyframes boom {
  25% {
    transform: scale(1.25);
  }
}

@-moz-keyframes boom {
  25% {
    transform: scale(1.25);
  }
}

@-ms-keyframes boom {
  25% {
    transform: scale(1.25);
  }
}

@-o-keyframes boom {
  25% {
    transform: scale(1.25);
  }
}

@keyframes boom {
  25% {
    transform: scale(1.25);
  }
}

.sections {
  .row {
    .column-count2 {
      column-count: 2;
      column-gap: 40px;

      p {
        margin: 0 0 50px;
      }
    }
  }

  .even-section {
    .row {
      background-position: right 0 !important;

      .content {
        img {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}

.case-study-section {
  .odd-section {
    .row {
      background-position: right 0 !important;

      @include breakpoint(mobileonly) {
        background-size: 70% !important;
      }

      .content {
        img {
          margin: 0 0 0 auto;

          @include breakpoint(mobileonly) {
            width: 50%;
            margin: 0;
          }

          @include breakpoint(laptop) {
            margin-right: -100px;
          }
        }

        .section-heading {
          @include breakpoint(laptop) {
            margin-top: -30px;
          }
        }
      }
    }
  }

  .even-section {
    .row {
      @include breakpoint(mobileonly) {
        background-size: 70% !important;
      }
    }

    .content {
      @include breakpoint(mobileonly) {
        img {
          width: 50%;
          margin: 0 0 0 auto;
        }
      }

      @include breakpoint(laptop) {
        img {
          margin-left: -100px;
        }

        .section-heading {
          margin-top: -30px;
        }
      }
    }
  }
}

.results {
  .slick-track {
    margin: auto;
  }

  .total {
    color: $ship-gray;
    word-wrap: break-word;

    h2 {
      font-size: 40px;
      text-transform: capitalize;
      line-height: 1;
      margin: 40px 0;
    }

    img {
      max-width: 120px;
      margin: auto;
    }
  }

  .line-height {
    line-height: 32px;
    color: $ship-gray;
  }

  @include breakpoint(mobileonly) {
    .slick-dots {
      bottom: -50px;
    }
  }
}

.testimonials {
  .testmony {
    background: $white;
    color: $dark-jungle-green;
    padding: 60px;
    font-size: 14px;

    @include breakpoint(mobileonly) {
      padding: 20px 10px;
    }

    h3 {
      color: $dark-jungle-green;
    }

    img {
      max-width: 120px;
      margin-top: 20px;
    }
  }

  .testmonial-slider {
    @include breakpoint(mobileonly) {
      padding: 0;

      .slick-dots {
        bottom: -40px;
      }
    }
  }

  .slick-arrow {
    filter: grayscale(100%);
  }

  @include breakpoint(laptop) {
    .testmonial-slider {
      .slick-prev {
        left: -100px;
      }

      .slick-next {
        right: -100px;
      }
    }
  }
}

.negative-mgn-top {
  @include breakpoint(laptop) {
    margin: -18% 0 0 auto;
  }
}

.blog-slide {
  margin-bottom: 0 !important;

  @include breakpoint(mobileonly) {
    .slick-dots {
      bottom: 0;
    }
  }

  .slick-slide {
    position: relative;

    .image-overlay {
      position: absolute;
      top: 0;
      text-align: center;
      left: 0;
      right: 0;
      color: #fff;
      background: rgba(0, 0, 0, .6);
      height: 100%;

      .post-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1170px;
        width: 100%;
        display: none;

        @include breakpoint(tablet) {
          display: block;
        }

        h3 {
          font-size: 40px;
          line-height: 1.2;
        }

        h5 {
          margin: 30px 0;
          font-size: 18px;
        }

        .clearfix {
          line-height: 3;

          a {
            background: $white;
            border-color: $white;
            color: $dark-jungle-green;

            &:hover {
              background: transparent;
              color: $white;
            }
          }
        }
      }
    }
  }
}

.grid {
  .grid-item {
    .thoughts {
      background: $white;
      margin: 30px 0;
      box-shadow: 0 0 10px 0 #ccc;

      @include breakpoint(laptop) {
        margin: 30px 15px;
      }

      .content {
        padding: 30px;

        h3 {
          line-height: 36px;

          a {
            color: $ship-gray;
          }
        }

        .more-div {
          line-height: 3;

          a {
            background: $yellow-green;
            border-color: $yellow-green;
            color: $white;

            &:hover {
              background: transparent;
              color: $ship-gray;
            }
          }
        }

        .social-links a {
          padding: 0 7px;
        }
      }
    }
  }
}

.load {
  line-height: 3;

  a {
    background: $yellow-green;
    border-color: $yellow-green;
    color: $white;

    &:hover {
      background: transparent;
      color: $ship-gray;
    }

    &:focus {
      text-decoration: none;
    }
  }
}

.nav-color {
  nav {
    position: fixed;
    background-color: $ship-gray;

    &.active {
      background-color: #242424;
    }
  }

  main {
    padding-top: 60px;
  }
}

.single-blog {
  nav {
    position: fixed;
    background-color: $ship-gray;

    &.active {
      background-color: #242424;
    }
  }

  main {
    color: $ship-gray;
    padding-top: 60px;

    .blog-container {
      h3 {
        line-height: 36px;
      }
    }

    article {
      box-shadow: 0 0 20px 0 #ccc;
    }

    .content {
      background: $white;
      padding: 30px;
      font-size: 16px;

      > p > img {
        width: 100%;
        height: auto;
      }
    }

    .more {
      line-height: 3;
      background: $yellow-green;
      color: $white;
      border-color: $yellow-green;

      &:hover {
        background: transparent;
        color: $yellow-green;
      }
    }

    aside {
      .aside {
        background: $dark-jungle-green;
        color: $white;
        padding: 30px;
        margin-bottom: 30px;

        a {
          color: $dark-jungle-green;
          display: inline-block;
          width: 100%;
          padding: 0;
          text-align: center;
          font-size: 20px;
          line-height: 2.9;
        }

        h3 {
          margin: 0 0 30px;
        }
      }

      .box-shadow {
        box-shadow: 0 0 20px 0 #ccc;
      }
    }

    .related {
      padding-top: 30px;

      .header {
        margin: 0 0 30px;
      }
    }
  }
}

.team {
  background: $dark-jungle-green;
  color: $white;

  .content {
    padding: 200px 0 30px;

    @include breakpoint(laptop) {
      padding: 160px 0 30px;
    }
  }

  .position {
    margin-bottom: 30px;
  }
}

.blog-filter {
  position: relative;
  margin-top: 20px;
  font-size: 20px;
  color: $ship-gray;
  font-family: $font-montserrat;

  select::-ms-expand {
    display: none;
  }

  .select-border {
    border: 1px solid $manatee;
    margin: 0 0 30px;
    background: url(/images/arrow-down.svg) right 14px center no-repeat;
    background-size: 18px;

    @include breakpoint(tablet) {
      margin: 0 15px 30px;
    }

    select {
      width: 100%;
      height: 46px;
      border: 0;
      text-indent: 10px;
      padding-right: 14px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: url(/images/arrow-down.svg) no-repeat;

      &:focus {
        outline: none;
      }
    }
  }

  .search {
    position: relative;

    @include breakpoint(tablet) {
      margin: 0 15px;
    }

    input {
      height: 46px;

      &[type="search"] {
        width: 100%;
        border: 1px solid $manatee;
        text-indent: 14px;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;
        box-sizing: border-box;
      }
    }

    #search-submit {
      position: absolute;
      top: 0;
      right: 0;
      background: url(/images/search_icon.svg) center no-repeat;
      background-size: 22px;
      border: 0;
      width: 44px;
      height: 46px;

      &:hover {
        opacity: .8;
      }
    }

    ::-webkit-input-placeholder { // Don't combine rules below, they will break. They need to stay as separate rules
      color: $ship-gray;
    }

    ::-moz-placeholder {
      color: $ship-gray;
    }

    :-ms-input-placeholder {
      color: $ship-gray;
    }

    :-moz-placeholder {
      color: $ship-gray;
    }
  }
}

.pdn-left {
  padding-left: 15px;
}

.pdn-right {
  padding-right: 15px;
}

.contacts {
  a {
    color: $white;
    margin: 0;
    position: relative;
    padding: 15px 50px 15px 0;

    svg {
      position: absolute;
      left: 40px;
    }

    &:hover {
      svg {
        g {
          fill: $white;
        }
      }
    }
  }
}

#map {
  height: 500px;
  width: 100%;

  .pop-up {
    background: #1b1b1b;
    padding: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 27px;

    img {
      display: inline-block;
      margin-right: 10px;
    }

    h4 {
      margin-top: 0;
      font-size: 18px;
      display: inline-block;
    }
  }

  .gm-style-iw {
    background-color: $rangoon-green;
    width: 260px !important;
    top: 84px !important;
    left: 43px !important;
    border-radius: 5px;
    overflow: visible;

    @include breakpoint(tablet) {
      width: 370px !important;
      top: 75px !important;
      left: -70px !important;
    }

    .arrow {
      width: 0;
      height: 0;
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 60px solid $rangoon-green;
      right: -30px;
      top: 40px;
      position: absolute;
    }
  }
}

.gm-style div div div div div div div div {
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  top: 0;
  color: #fff;
  font-size: 16px;
}

.gm-style > div > div > div + div > div + div + div > div > div > div {
  margin: 45px 0 0 88px;
  font-weight: bold;
  font-size: 12px !important;
}

.contact-form {
  .required {
    color: #a7dd31;
    margin: 0;
  }
}

.loader-style {
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 11px;
  width: 40px;
  right: 7px;
}

.contact-details {
  .btn {
    border: 1px solid #a7dd31;
    border-radius: 0;
    padding: 15px 50px 15px 74px;
    margin: 20px 0;
    font-size: 20px;

    @include breakpoint(tablet) {
      margin: 20px 20px 0;
    }

    svg {
      left: 27px;
      top: 14px;
    }

    &:hover {
      border-color: $white;
      color: $white;
    }
  }
}

.nav-fixed {
  position: fixed;
  background: rgba(0, 0, 0, .6);
}

.mark1-ads {
  background: #333;

  .change-bg {
    max-width: 2800px;
    width: 100%;
    padding: 0;

    .row {
      margin: 0;

      > div {
        padding: 0;
      }

      .iframe-ads {
        height: 1044px;
        position: relative;
        overflow: hidden;

        iframe {
          margin-top: -56px;
        }

        .cover-centra {
          background: #333;
          position: absolute;
          bottom: 13px;
          width: 120px;
          color: #333;
          height: 45px;
        }
      }
    }
  }
}

.text-center {
  ul {
    list-style: none;
    padding: 0;
  }
}

.topmargin {
  @include breakpoint(mobileonly) {
    margin-top: 150px;
  }
}

a.btn:focus {
  outline: none !important;
}

video::-internal-media-controls-download-button {
  display: none;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}
