body {
  font-family: $font-open-sans;
  color: #282828;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;

  strong {
    font-family: "Open Sans";
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-montserrat;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.6;
}

h3,
.h3 {
  font-size: 30px;
}

h4,
.h4 {
  font-size: 22px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.heading {
  font-size: 80px;
  margin-bottom: -65px;
  word-wrap: break-word;

  @include breakpoint(mobileonly) {
    line-height: 1;
    margin-bottom: -30px;
    font-size: 40px;
  }

  &.munsell-color {
    color: #f0f0f0;
  }

  &.black {
    color: #000;
  }

  &.outer-space {
    color: #464646;
  }

  &.iron {
    color: #d7d7d7;
  }

  &.onyx {
    color: #141414;
  }

  &.manatee {
    color: $manatee;
  }
}

section {
  position: relative;
  z-index: 99;
}

.content-body {
  position: relative;
}

.content-bottom {
  margin-bottom: 50px;

  @include breakpoint(laptop) {
    margin-bottom: 0;
  }
}

.section-heading {
  font-size: 40px;
  line-height: 1;
  word-wrap: break-word;

  @include breakpoint(tablet) {
    font-size: 70px;
  }
}

.banner {
  position: relative;
  overflow: hidden;

  > img {
    @include breakpoint(mobileonly) {
      object-fit: cover;
      height: 400px;
    }
  }

  .image-overlay {
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    height: 100%;

    .service-logo {
      margin: auto;
      max-height: 522px;
      padding-top: 50px;
    }

    h1 {
      position: absolute;
      top: 30%;
      text-align: center;
      left: 0;
      right: 0;
      color: #fff;
      font-size: 70px;

      @include breakpoint(mobileonly) {
        font-size: 30px;
        top: 30%;
      }

      img {
        margin: auto;
      }
    }
  }
}

.read-more {
  cursor: pointer;
}

.read-more-content {
  height: 192px;
  overflow: hidden;
}

.active .read-more-content {
  height: 100%;
}

.space-primary {
  padding-top: 60px;
  padding-bottom: 80px;
}

.space-sec-btm {
  padding-bottom: 60px;
}

.space-primary-top {
  padding-top: 80px;
}

.space-primary-btm {
  padding-bottom: 80px;
}

.space-sec-top {
  padding-top: 60px;
}

.zero-mgn-btm {
  margin-bottom: 0;
}

.zero-pdn-left {
  padding-left: 0;
}

.btn {
  font-family: $font-montserrat;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #a7dd31;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 0;
  margin: 0 auto;
  max-width: 250px;
  display: block;

  &:hover {
    border-color: #fff;
    color: #fff;
  }
}

.mgn-right {
  margin: 0 0 0 auto;
}

.img-right {
  background-position: right 0 !important;
}

.contact-form {
  div > input,
  div > textarea {
    width: 100%;
    min-height: 60px;
    text-indent: 10px;
    border: 1px solid #a0a0a0;
  }

  div > textarea {
    text-indent: 0;
    padding: 15px;
  }

  .errors {
    padding: 0;

    li {
      list-style: none;
      color: #f00;
    }
  }
}
