$font-open-sans: 'OpenSans-Light', 'Open Sans', 'Helvetica', Arial, sans-serif;
$font-montserrat: 'Montserrat', 'Helvetica', Arial, sans-serif;
$white: #fff;
$rosso-corsa: #d60005;
$fulvous: #e97407;
$dark-midnight-blue: #06436a;
$rich-electric-blue: #1081c8;
$sea-green: #259552;
$dark-jungle-green: #282828;
$ship-gray: #505050;
$light-gray: #f9f9f9;
$yellow-green: #a7dd31;
$manatee: #a0a0a0;
$cadmium-orange: #f38039;
$bright-cerulean: #00acdc;
$rangoon-green: #1b1b1b;
$shamrock: #3cdea9;
$dandelion: #e2dd23;
$amaranth: #ea2f4b;

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 94em) {
      @content ;
    }
  }

  @else if $point == laptop {
    @media (min-width: 64em) {
      @content ;
    }
  }

  @else if $point == tablet {
    @media (min-width: 50em) {
      @content ;
    }
  }

  @else if $point == iphone6 {
    @media (min-width: 37.5em) {
      @content ;
    }
  }

  @else if $point == mobileonly {
    @media (max-width: 37.5em) {
      @content ;
    }
  }
}
