{#
 # Services entry template
 # -------------------
 #
 # This template gets loaded whenever a Services entry’s URL is
 # requested. That’s because the Services section’s Template setting is
 # set to “services/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Services entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  {% set image = entry.banner.first() %}
  <div class="banner text-uppercase fixed" style="background-image: url('{{ image.getUrl("banner") }}');">
    {% set logoImage = entry.captionLogo.first() %}
    <div class="image-overlay">
      {% if image %}
        <img src="{{ logoImage.url }}" alt="{{ logoImage.title }}" class="img-responsive service-logo">
      {% endif %}
      <h1>{{ entry.title }}</h1>
    </div>
  </div>
  {% if entry.body %}
    <section class="forNavSection">
      <div class="container space-primary-top space-primary-btm text-center">
        <div class="row">
          <article class="col-md-10 col-md-push-1">
            {{ entry.body }}
          </article>
        </div>
      </div>
    </section>
  {% endif %}

  <div class="sections service-section">
    {% for block in entry.repeatedContents %}
    {% set image = block.image.first() %}
    {% set thumbnail = block.thumbnail.first() %}
      {% if loop.index is even %}
        {% set position = 'medium' %}
        {% set size = 'small' %}
        {% set class = 'even-section' %}
      {% else %}
        {% set position = 'col-md-push-6' %}
        {% set size = 'xSmall' %}
        {% set class = 'odd-section' %}
      {% endif %}
      <section class="{{ class }}" id="subHead_{{ loop.index }}">
        <div class="container space-primary-btm">
          {% if image %}
            <div class="row" style="background: url({{ image.getUrl('medium') }}) no-repeat;">
          {% else %}
            <div class="row">
          {% endif %}
            <div class="col-md-6 {{ position }}" id="movements_{{ loop.index }}">
              <div class="content {{ entry.colorSelector }}">
                {% if thumbnail %}
                  <div class="clearfix">
                    <img src="{{ thumbnail.getUrl(size) }}" alt="{{ thumbnail.title }}" class="img-responsive small-img-float">
                  </div>
                {% endif %}
                <h3 class="section-heading color">{{ block.sectionTitle }}</h3>
                {{ block.description }}
              </div>
            </div>
          </div>
        </div>
      </section>

      {% set entries = block.slidingEntries %}
      {% if entries | length %}
      <section class="munsell service-slide">
        <div class="container space-sec-top space-sec-btm">
          <div class="text-center col-md-12 gainsboro">
            <h3 class="section-heading">{{ block.slideTitle }}</h3>
          </div>
        </div>
        <div>
          
          <div class="caseStudies space-primary-btm slider">
              {% for entry in entries %}
                {% set image = entry.featuredImage.first() %}
              {% set logo = entry.logo.first() %}
                <article>
                  {% if image %}
                    <div class="col-md-6 large-img zero-pdn-left hidden-xs">
                        <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
                    </div>
                  {% endif %}
                <div class="container">
                  <div class="row">
                    <div class="{% if image is empty %} col-md-10 col-md-push-1 o{% endif %}col-md-6 {{ entry.colorSelector }}">
                      {% if logo %}
                        <img src="{{ logo.url }}" alt="{{ logo.title }}" class="img-responsive client-logo">
                      {% endif %}
                      <div class="case-study">
                        <h3><a target="_blank" href="{{ entry.firstLink }}" class="color">{{ entry.title }}</a></h3>
                        <p>{{ entry.body }}</p>
                        {% if entry.firstLink %}
                          <p><a target="_blank" href="{{ entry.firstLink }}" class="color">{{ entry.button }} &#8594;</a></p>
                        {% endif %}
                        </div>
                    </div>
                  </div>
                </div>
              </article>
              {% endfor %}
          </div>

        </div>
      </section>
      {% endif %}


    {% endfor %}
    {% if entry.thirdContent %}
      <div class="container space-primary-btm slide-available">
        <div class="row">
          <div class="col-md-6 extra first">{{ entry.thirdContent }}</div>
          <div class="col-md-6 extra">{{ entry.serviceContent }}</div>
        </div>
      </div>
    {% endif %}
  </div>

  {% if entry.sevenTitle %}
    <section class="munsell partners-section">
      <div class="container space-primary text-center gainsboro">
            <div class="row">
              <h3 class="section-heading">{{ entry.sevenTitle }}</h3>
              <div class="flex-container space-sec-top">
                {% for block in entry.partners %}
                  <div class="col-lg-2 flex-item">
                    {% set image = block.partnerLogo.first() %}
                    {% if image %}
                      <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
      </div>
    </section>
  {% endif %}
  {% if entry.fouthTitle %}
    <section class="ship-gray more-services">
      <div class="container space-primary text-center outer-space">
          <div class="row">
            <div class="col-md-12">
              <h3 class="heading outer-space">{{ entry.fouthTitle }}</h3>
              <div class="content-body">
                {{ entry.fouthContent }}
              </div>
            </div>
          </div>
          <div class="row space-primary-top">
            {% set entries = entry.serviceEntries %}
            {% if entries | length %}
              {% for entry in entries %}
                {% set image = entry.featuredImage.first() %}
                <div class="col-sm-4 text-center space-sec-btm text-uppercase {{ entry.colorSelector }}">
                  <a href="{{ entry.url }}" class="color">
                    {% if image %}
                      <img src="{{ image.url }}" alt="{{ image.title }}">
                    {% endif %}
                    <h4>{{ entry.title }}</h4>
                  </a>
                </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="row">
            {% if entry.allServiceLink %}
            <a href="{{ entry.allServiceLink }}" class="text-uppercase btn btn-secondary white">All services</a>
            {% endif %}<br>
          </div>
      </div>
    </section>
  {% endif %}
  {% include 'form/_form.html' %}
{% endblock %}
