{#
 # Services index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/services is
 # requested, because it is located at services/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  {% set image = services.featuredImage.first() %}
  <div class="banner text-uppercase fixed" style="background-image: url('{{ image.getUrl("banner") }}');">
    <div class="image-overlay">
      <h1>{{ services.fouthTitle }}</h1>
    </div>
  </div>

  <div class="key-services forNavSection">
    {% set entries = services.mainEntries %}
    {% for entry in entries %}
    {% set image = entry.image.first() %}
    {% if image %}
      <section style="background-image: url({{ image.url }})">
    {% else %}
      <section>
    {% endif %}
        <div class="container space-primary">
          <div class="row">
            <article class="col-sm-12 section col-md-8 col-md-offset-2 {{ entry.colorSelector }}">
              <a href="{{ entry.url }}"><h3>{{ entry.title }}</h3></a>
              <div class="content">
                {{ entry.seccontent }}
              </div>
              <div><a href="{{ entry.url }}" class="more">Read More</a></div>
            </article>
          </div>
        </div>
      </section>
    {% endfor %}
  </div>
  {% include 'form/_form.html' %}
{% endblock %}
