<div class="col-md-10 space-primary-top testmonial-slider col-md-push-1 text-left">
  {% for block in testimonial.testimonials %}
    {% set image = block.image.first() %}
    <div class="testmony clearfix">
      <div>
        {{ block.testimony }}
      </div>
      <div class="col-md-10 text-right">
        <h3>{{ block.clientName }}</h3>
        <em>{{ block.position }}</em><br>
        <strong>{{ block.company }}</strong>
      </div>
      {% if image %}
        <div class="col-md-2">
          <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
