<aside class="col-md-4">
  {% for block in sideBar.sideRepeater %}
    <div class="aside clearfix">
      <h3>{{ block.columnTitle }}</h3>
      <a href="{{ block.urlLink }}" class="more">{{ block.buttonName }}</a>
    </div>
  {% endfor %}
  <div class="related">
    {% set entries = entry.relatedEntry %}
    {% if entries | length %}
    <h3 class="header">Related Article</h3>
    <div class="box-shadow">
      {% for entry in entries %}
        {% set image = entry.featuredImage.first() %}
        {% if image %}
          <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
        {% endif %}
        <div class="content">
          <em class="small">Posted on {{ entry.postDate.format('F d, Y') }}</em>
          <h3 class="{{ entry.colorSelector }}">{{ entry.title }}</h3>
          <p class="small">{{ entry.blogBody|striptags|slice(0,100)|default('Read more') }}...</p>
          {% include 'blog/_share.html' %}
          <a class="more" href="{{ entry.url }}" class="color">Read More</a>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</aside>
