{#
 # Blog entry template
 # -------------------
 #
 # This template gets loaded whenever a Blog entry’s URL is
 # requested. That’s because the Blog section’s Template setting is
 # set to “blog/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Case Study entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  <section class="blog-container nav-color light-gray space-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <article>
            {% set image = entry.featuredImage.first() %}
            {% if image %}
                <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
            {% endif %}
            <div class="content">
              <em class="small">Posted on {{ entry.postDate.format('F d, Y') }}</em>
              <h3>{{ entry.title }}</h3>
              {% include 'blog/_share.html' %}
              {{ entry.blogBody }}
              {% include 'blog/_share.html' %}
              <hr>
            </div>
          </article>
        </div>
        {% include 'blog/_aside.html' %}
        <div class="col-md-12 text-center space-sec-top">
          <a id="backToBlog" href="/blog" class="more">BACK TO INDEX</a>
        </div>
      </div>
    </div>
  </section>
  {% include 'mailchimp/_mailchimp.html' %}
{% endblock %}
