 {# Get the params #}
{% set year = craft.request.getParam('year') %}

{# Compose a param in this format: 'and, >= 2014-01-01, < 2015-01-01' #}
{% set dateParam = 'and, >= ' ~ year ~ '-01-01, < ' ~ (year + 1) ~ '-01-01' %}

{# Query and loop through the entries #}
{% set entries = craft.entries.section('blog').postDate(dateParam) %}
{% set queryString = query is defined ? '?q=' ~ query : '' %}
  {% if entries|length %}
  <section class="space-primary light-gray">
    <div class="container">
      <div class="row">
        <div id="grid" class="grid">
          {% for blog in entries %}
            <article class="grid-item col-md-4 clearfix" itemtype="http://schema.org/Article">
              <div class="clearfix thoughts">
                {% set image = blog.featuredImage.first() %}
                {% if image %}
                    <div class="img"><img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive"></div>
                {% endif %}
                <div class="content">
                  <header>
                    <em class="small">Posted on {{ blog.postDate.format('F d, Y') }}</em>
                    <h3><a href="/{{ blog.uri }}" itemprop="name">{{ blog.title }}</a></h3>
                  </header>
                  <div itemprop="articleBody">
                    <p class="small">{{ blog.blogBody|striptags|slice(0,100)|default('Read more') }}...</p>
                  </div>

                    <div class="social-links text-uppercase">
                      <span>
                        Share<img src="/images/share.svg" alt="share">
                      </span>
                      <a class="edit-link" href="https://www.facebook.com/sharer/sharer.php?u={{ blog.url }}">
                        <img src="/images/fb.svg" alt="Facebook">
                      </a>
                      <a class="edit-link" href="https://twitter.com/home?status={{ blog.url }}">
                        <img src="/images/twitter2.svg" alt="Twitter">
                      </a>
                      <a class="edit-link" href="https://plus.google.com/share?url={{ blog.url }}">
                        <img src="/images/google.svg" alt="Google+">
                      </a>
                      <a href="mailto:?{{ blog.url }}">
                        <img src="/images/mail.svg" alt="mail">
                      </a>
                    </div>
                    <div class="more-div"><a class="more" href="{{ blog.url }}">Read More</a></div>

                </div>
              </div>
            </article>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% endif %}
