<div class="row">
  {% set entries = craft.entries.section('blog') %}
  {% set entriesByYear = entries|group('postDate|date("Y")') %}
  <form class="blog-filter clearfix" data-action="{{ url('blog/results.html') }}">
    <div class="col-md-4">
      <div class="select-border">
        <select name="category">
          <option value="">CATEGORIES</option>
          {% for category in craft.categories.section('thoughtLeadership') %}
            <option value="{{ category.title }}">{{ category.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="select-border">
        <select name="year">
          <option value="archive">ARCHIVE</option>
          {% for year, entries in entriesByYear %}
            <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="search">
        <input id="filter-search" type="search" value="" name="q" placeholder="SEARCH ARTICLES">
        <a href="javascript:void(0)" id="search-submit"></a hr>
      </div>
    </div>
  </form>
</div>
