<div class="social-links text-uppercase">
  <span>
    Share<img src="/images/share.svg" alt="share">
  </span>
  <a class="edit-link" href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}">
    <img src="/images/fb.svg" alt="Facebook">
  </a>
  <a class="edit-link" href="https://twitter.com/home?status={{ entry.url }}">
    <img src="/images/twitter2.svg" alt="Twitter">
  </a>
  <a class="edit-link" href="https://plus.google.com/share?url={{ entry.url }}">
    <img src="/images/google.svg" alt="Google+">
  </a>
  <a href="mailto:?subject={{entry.title}}&body={{entry.url}}">
    <img src="/images/mail.svg" alt="mail">
  </a>
</div>
