{#{% extends craft.instaBlog.settings.layout|length ? craft.instaBlog.settings.layout : 'blog/_blog-layout' %}#}

{% extends "_layout" %}

{% block content %}

 {% if not craft.request.isAjax %}
  {% set entries = leadershipThoughtsBlog.slideEntries %}
  {% if entries | length %}
  <div class="blog-slide">
    {% for entry in entries %}
      {% set image = entry.featuredImage.first() %}
      <div>
        {% if image %}
          <img src="{{ image.getUrl('banner') }}" alt="{{ image.title }}" class="img-responsive banner">
        {% endif %}
        <div class="image-overlay">
          <div class="post-title">
            <h3 class="{{ entry.colorSelector }}">{{ entry.title }}</h3>
            <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
            <p class="clearfix"><a class="more" href="{{ entry.url }}" class="color">Read Article</a></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
{% endif %}

{% set allEntries = craft.entries.section('blog').find() %}
{% set allEntriesByYear = allEntries|group('postDate.year') %}

{% for year, entriesInYear in allEntriesByYear %}
    <h2>{{ year }}</h2>

    <ul>
        {% for entry in entriesInYear %}
            <li><a href="{{ entry.url }}">{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}
{% include 'mailchimp/_mailchimp.html' %}
{% endblock %}
