{% extends "_layout" %}

{% block content %}

  {% if not craft.request.isAjax %}
    {% set entries = leadershipThoughtsBlog.slideEntries %}
    {% if entries | length %}
    <div class="blog-slide">
      {% for entry in entries %}
        {% set image = entry.featuredImage.first() %}
        <div>
          {% if image %}
            <img src="{{ image.getUrl('banner') }}" alt="{{ image.title }}" class="img-responsive banner">
          {% endif %}
          <div class="image-overlay">
            <div class="post-title">
              <h3 class="{{ entry.colorSelector }}">{{ entry.title }}</h3>
              <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
              <p class="clearfix"><a class="more" href="{{ entry.url }}" class="color">Read Article</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  {% endif %}

{% if not craft.request.isAjax %}
  <section class="space-primary light-gray">
    <div class="container">
      <div class="row">
        {% endif %}
        <div id="grid" class="grid">
          {% paginate craft.entries.section('blog').relatedTo(category).limit(12) as pageInfo, pageEntries %}
            {% for entry in pageEntries %}
              <article class="grid-item col-md-4 clearfix">
                <div class="clearfix thoughts">
                  {% set image = entry.featuredImage.first() %}
                  {% if image %}
                      <div class="img"><img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive"></div>
                  {% endif %}
                  <div class="content">
                    <em class="small">Posted on {{ entry.postDate.format('F d, Y') }}</em>
                    <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                    <p class="small">{{ entry.blogBody|striptags|slice(0,100)|default('Read more') }}...</p>
                    <div class="social-links text-uppercase">
                      <span>
                        Share<img src="/images/share.svg" alt="share">
                      </span>
                      <a class="edit-link" href="https://www.facebook.com/sharer/sharer.php?u={{ entry.url }}">
                        <img src="/images/fb.svg" alt="Facebook">
                      </a>
                      <a class="edit-link" href="https://twitter.com/home?status={{ entry.url }}">
                        <img src="/images/twitter2.svg" alt="Twitter">
                      </a>
                      <a class="edit-link" href="https://plus.google.com/share?url={{ entry.url }}">
                        <img src="/images/google.svg" alt="Google+">
                      </a>
                      <a href="mailto:?{{ entry.url }}">
                        <img src="/images/mail.svg" alt="mail">
                      </a>
                    </div>
                    <div class="more-div"><a class="more" href="{{ entry.url }}">Read More</a></div>
                  </div>
                </div>
              </article>
            {% endfor %}
          {% endpaginate %}

        </div>
      </div>
      <div class="row">
        {% if not craft.request.isAjax %}
          {% if pageInfo.nextUrl %}
            <div class="clearfix load text-center">
              <a class="loadMore more" href="{{ pageInfo.nextUrl }}">Load More</a>
            </div>
          {% endif %}
        {% endif %}
        {% if not craft.request.isAjax %}
      </div>
    </div>
  </section>
  {% endif %}
  {% include 'mailchimp/_mailchimp.html' %}
{% endblock %}
