{#
 # Results template
 # -------------------
 #
 # This template is loaded whenever http://example.com/blog is
 # requested, because it is located at blog/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}
 
 {% if craft.request.isAjax %}
    {% set layout = "_ajaxLayout" %}
{% else %}
    {% set layout = "_layout" %}
{% endif %}

{% extends "_layout" %}

{% block content %}
  {% if not craft.request.isAjax %}
    {% set entries = leadershipThoughtsBlog.slideEntries %}

    {% if entries | length %}
    <div class="blog-slide">
      {% for entry in entries %}
        {% set image = entry.featuredImage.first() %}
        <div>
          {% if image %}
            <img src="{{ image.getUrl('banner') }}" alt="{{ image.title }}" class="img-responsive banner">
          {% endif %}
          <div class="image-overlay">
            <div class="post-title">
              <h3 class="{{ entry.colorSelector }}">{{ entry.title }}</h3>
              <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
              <p class="clearfix"><a class="more" href="{{ entry.url }}" class="color">Read Article</a></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}
  {% endif %}

  <section class="space-primary light-gray">
    <div class="container">
      {% include 'blog/_form.html' %}
      <div class="row">
        {% include 'blog/search.html' %}
      </div>
    </div>
  </section>

  {% include 'mailchimp/_mailchimp.html' %}
{% endblock %}
