{% block content %}
  {% set query = '*' ~ craft.request.getParam('q') ~ '*' %}
  {% set year = craft.request.getParam('year') %}
  {% set catTitle = craft.request.getParam('category') %}
  {% set dateParam = 'and, >= ' ~ year ~ '-01-01, < ' ~ (year + 1) ~ '-01-01' %}
  {% set cat = craft.categories.title(catTitle).first() %}

  {% if year != 'archive' %}
    {% if catTitle|length %}
      {% if query|length %}
        {% set entries = craft.entries.section('blog').relatedTo(cat).postDate(dateParam).search(query) %}
      {% endif %}
    {% elseif query|length %}
      {% set entries = craft.entries.section('blog').postDate(dateParam).search(query) %}
    {% else %}
      {% set entries = craft.entries.section('blog').postDate(dateParam).search() %}
    {% endif %}
  {% elseif catTitle|length %}
    {% if query|length %}
      {% set entries = craft.entries.section('blog').relatedTo(cat).search(query) %}
    {% else %}
      {% set entries = craft.entries.section('blog').relatedTo(cat).search() %}
    {% endif %}
  {% elseif query|length %}
    {% set entries = craft.entries.section('blog').search(query) %}
  {% else %} 
   {% set entries = craft.entries.section('blog').search() %}
  {% endif %}


    {% if entries  %}
    <div id="grid" class="grid">
      {% for blog in entries %}
      <article class="grid-item col-md-4 clearfix" itemtype="http://schema.org/Article">
        <div class="clearfix thoughts">
          {% set image = blog.featuredImage.first() %}
          {% if image %}
              <div class="img"><img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive"></div>
          {% endif %}
          <div class="content">
            <header>
              <em class="small">Posted on {{ blog.postDate.format('F d, Y') }}</em>
              <h3><a href="/{{ blog.uri }}" itemprop="name">{{ blog.title }}</a></h3>
            </header>
            <div itemprop="articleBody">
              <p class="small">{{ blog.blogBody|striptags|slice(0,100)|default('Read more') }}...</p>
            </div>

              <div class="social-links text-uppercase">
                <span>
                  Share<img src="/images/share.svg" alt="share">
                </span>
                <a class="edit-link" href="https://www.facebook.com/sharer/sharer.php?u={{ blog.url }}">
                  <img src="/images/fb.svg" alt="Facebook">
                </a>
                <a class="edit-link" href="https://twitter.com/home?status={{ blog.url }}">
                  <img src="/images/twitter2.svg" alt="Twitter">
                </a>
                <a class="edit-link" href="https://plus.google.com/share?url={{ blog.url }}">
                  <img src="/images/google.svg" alt="Google+">
                </a>
                <a href="mailto:?{{ blog.url }}">
                  <img src="/images/mail.svg" alt="mail">
                </a>
              </div>
              <div class="more-div">
                <a class="more" href="{{ blog.url }}?year={{ year }}&category={{ catTitle }}&q={{ query }}">Read More</a>
              </div>

          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  {% else %}
    {% include 'blog/_not-found.html' with {'type': 'search'} %}
  {% endif %}

{% endblock %}
