{#
 # Case Study entry template
 # -------------------
 #
 # This template gets loaded whenever a Case Study entry’s URL is
 # requested. That’s because the Case Study section’s Template setting is
 # set to “case-study/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested Case Study entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  {% set image = caseStudies.banner.first() %}
  <div class="banner text-uppercase fixed" style="background-image: url('{{ image.getUrl("banner") }}');">
    {% set logo = entry.logo.first() %}
    <div class="image-overlay">
      <h1>
        {% if logo %}
          <img src="{{ logo.url }}" alt="{{ logo.title }}" class="img-responsive">
        {% endif %}
        {{ entry.title }}
      </h1>
    </div>
  </div>
  <section class="space-primary-top forNavSection">
    {% set image = entry.featuredImage.first() %}
    <article class="clearfix">
      <div class="col-md-6">
        {% if image %}
          <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive negative-mgn-top">
        {% endif %}
      </div>
      <div class="container">
          <div class="row">
            <div class="col-md-6">
              {{ entry.content6th}}
              {{ entry.body }}
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>
  <div class="case-study-section bokara-gray">
    {% for block in entry.imageAndContent %}
    {% set image = block.image.first() %}
    {% set thumbnail = block.thumbnail.first() %}
      {% if loop.index is even %}
        {% set position = 'mediumd col-md-push-6' %}
        {% set size = 'xSmall' %}
        {% set class = 'even-section' %}
      {% else %}
        {% set position = '' %}
        {% set size = 'small' %}
        {% set class = 'odd-section' %}
      {% endif %}
      <section class="{{ class }}" id="subHead_{{ loop.index }}">
        <div class="container space-primary-top">
          {% if image %}
            <div class="row" style="background: url({{ image.getUrl('medium') }}) no-repeat;">
          {% else %}
            <div class="row">
          {% endif %}
            <div class="col-md-6 {{ position }}" id="movements_{{ loop.index }}">
              <div class="content {{ entry.colorSelector }}">
                {% if thumbnail %}
                  <div class="clearfix">
                    <img src="{{ thumbnail.getUrl(size) }}" alt="{{ thumbnail.title }}" class="img-responsive">
                  </div>
                {% endif %}
                <h3 class="section-heading color {% if not thumbnail %} topmargin {% endif %}">{{ block.sectionTitle }}</h3>
                {{ block.description }}
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
  </div>

  {% set videoOgv = entry.videoOgv.first() %}
  {% set videoWebm = entry.videoWebm.first() %}
  {% set video = entry.video.first() %}
  {% if entry.fifthTitle or entry.content5th or video %}
    <section class="ship-gray">
      <div class="container space-primary">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 class="heading outer-space">{{ entry.fifthTitle }}</h2>
            <div class="content-body">
              {{ entry.content5th }}
            </div>
            {% if video %}
              <div class="videos space-sec-top col-md-10 col-md-push-1">
                <video width="" class="banner" controls>
                  {% if videoWebm %}
                    <source src="{{ videoWebm.url }}" type="video/webm">
                  {% endif %}
                  {% if videoOgv %}
                    <source src="{{ videoOgv.url }}" type="video/ogv">
                  {% endif %}
                  {% if video %}
                    <source src="{{ video.url }}" type="video/mp4">
                  {% endif %}
                  Your browser does not support HTML5 video.
                </video>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if entry.fouthTitle %}
    <section class="light-gray results {{ entry.colorSelector }}">
      <div class="container space-primary">
        <div class="row text-center">
          <h2 class="heading munsell-color">
            {{ entry.fouthTitle }}
          </h2>
          <div class="content-body">
            {{ entry.seccontent }}
          </div>
          <div class="autoplay">
            {% for block in entry.results %}
              <div class="col-md-3 space-primary-top total">
                {% set image = block.icon.first() %}
                {% if image %}
                  <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
                {% endif %}
                <h2 class="color">{{ block.total }}</h2>
                <h3 class="line-height">{{ block.totalName }}</h3>
                <small>{{ block.category }}</small>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if entry.sevenTitle %}
    <section class="ship-gray testimonials">
      <div class="container space-primary">
        <div class="row text-center">
          <div class="col-md-12">
            <h2 class="heading outer-space">{{ entry.sevenTitle }}</h2>
            <div class="content-body">
              {{ entry.thirdContent }}
            </div>
          </div>
          <div class="col-md-10 space-primary-top col-md-push-1 text-left">
            <div class="testmonial-slider">
              {% for block in entry.testimonials %}
                {% set image = block.image.first() %}
                <div class="testmony clearfix">
                  {{ block.testimony }}
                  <div class="col-md-10 text-right">
                    <h3>{{ block.clientName }}</h3>
                    <em>{{ block.position }}</em><br>
                    <strong>{{ block.company }}</strong>
                  </div>
                  {% if image %}
                    <div class="col-md-2">
                      <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if entry.eightTitle %}
    <section class="munsell">
      <div class="container space-primary">
        <div class="row text-center">
          <h2 class="heading iron">{{ entry.eightTitle }}</h2>
          <div class="content-body">
            {{ entry.fouthContent }}
          </div>
        </div>
      </div>
      <div>
        <div class="caseStudies space-primary-btm slider">
        {% set entries = entry.featuredCaseStudies %}
        {% if entries | length %}
          {% for entry in entries %}
            {% set image = entry.featuredImage.first() %}
          {% set logo = entry.logo.first() %}
            <article>
              <div class="col-md-6 large-img zero-pdn-left">
                {% if image %}
                  <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
                {% endif %}
              </div>
            <div class="container">
              <div class="row">
                <div class="col-md-6 {{ entry.colorSelector }}">
                  {% if logo %}
                    <img src="{{ logo.url }}" alt="{{ logo.title }}" class="img-responsive">
                  {% endif %}
                  <div class="case-study">
                    <h3><a href="{{ entry.url }}" class="color">{{ entry.title }}</a></h3>
                    <p>{{ entry.body.getPage(1) }}</p>
                    <p><a href="{{ entry.url }}" class="color">read more &#8594;</a></p>
                    </div>
                </div>
              </div>
            </div>
            <div class="container space-primary-top  {{ entry.colorSelector }}">
              <div class="row">
                <div class="col-sm-12">
                  <div class="text-center">
                    <a class="more btn btn-secondary color more-border" href="/case-studies">All case studies</a>
                  </div>
                </div>
              </div>
            </div>
          </article>
          {% endfor %}
        {% endif %}
      </div>
      </div>
    </section>
  {% endif %}
  {% include 'form/_form.html' %}
{% endblock %}
