{#
 # Case Studies index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/case-studies is
 # requested, because it is located at case-studies/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
  {% set image = caseStudies.banner.first() %}
  <div class="banner text-uppercase fixed" style="background-image: url('{{ image.getUrl("banner") }}');">
    <div class="image-overlay">
      <h1>{{ caseStudies.fouthTitle }}</h1>
    </div>
  </div>
  <div class="case-studies space-primary-btm forNavSection">
    {% set entries = caseStudies.caseStudiesEntries %}
    {% for entry in entries %}
      {% set image = entry.featuredImage.first() %}
      {% set logo = entry.logo.first() %}
      <section class="space-primary-top {{ entry.colorSelector }}">
        <div>
          {% if loop.index is even %}
            {% set position = '' %}
            {% set push = 'col-md-push-6' %}
            {% set pull = 'col-md-pull-6 text-right' %}
            {% set imgRight = 'mgn-right' %}
            {% set space = 'pdn-right' %}
          {% else %}
            {% set position = 'mgn-right' %}
            {% set push = 'zero-pdn-left' %}
            {% set pull = '' %}
            {% set imgRight = '' %}
            {% set space = 'pdn-left' %}
          {% endif %}
          <div class="col-md-6 {{ push }}">
            {% if image %}
              <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive section {{ position}}">
            {% endif %}
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 section {{ pull }}">
                <article class="{{ space }}">
                  {% if logo %}
                    <img src="{{ logo.url }}" alt="{{ logo.title }}" class="img-responsive {{ imgRight }}">
                  {% endif %}
                  <h3><a class="color" href="{{ entry.url }}">{{ entry.title }}</a></h3>
                  {{ entry.body.getPage(1) }}
                  <p><a class="color" href="{{ entry.url }}">read more &#8594;</a></p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
  </div>
{% endblock %}
